{% extends 'base/base.html' %}

{% block main_content %}
    <section class="custom-section first-section">
        <div class="container custom-container">
            <div class="row">
                <div class="col-md-12">
                    <div class="maintitle">

                        <p class="lead">
                            "Caps for the Future" was launched in October 2017. The original idea was to collect
                            playground caps, but after polling people on social media, the campaign turned to incubators
                            for premature babies. The main objective of the first campaign was of donating
                            at least one CUVYOZ to a hospital in a less populated area. To everyone's surprise, we were
                            able to donate the first one just FIVE weeks after our first campaign at the end of October.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <div class="container">
        <div class="timeline">
            <div class="row no-gutters justify-content-end justify-content-md-around align-items-start  timeline-nodes">
                <div class="col-10 col-md-5 order-3 order-md-1 timeline-content">
                    <h3 class=" text-light">The beginning</h3>
                    <p>The first campaign was announced on October 28, 2017 on the page of
                        the sports club and was seen by over 400,000 people, and on the day itself in 3 hours 8 and
                        a half tons of caps were collected.</p>
                </div>
                <div class="col-2 col-sm-1 px-md-3 order-2 timeline-image text-md-center">
                    <img src="https://images.unsplash.com/photo-1637730177972-0bb1d3a05c43?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80"
                         class="img-fluid" alt="img">
                </div>
                <div class="col-10 col-md-5 order-1 order-md-3 py-3 timeline-date">
                    <time>28.10.2017</time>
                </div>
            </div>

            <div class="row no-gutters justify-content-end justify-content-md-around align-items-start  timeline-nodes">
                <div class="col-10 col-md-5 order-3 order-md-1 timeline-content">
                    <h3 class=" text-light">The campaign outside the borders of Sofia</h3>
                    <p>With the second campaign announced for Sofia, the city of Plovdiv also announces that they are
                        doing such a campaign, so gradually in every corner of Bulgaria people start collecting caps.We
                        do it because we believe that Bulgaria and the world as a whole can become a more pleasant
                        place to live when each of us starts making daily efforts to do so.</p>
                </div>
                <div class="col-2 col-sm-1 px-md-3 order-2 timeline-image text-md-center">
                    <img src="https://scontent.fsof11-1.fna.fbcdn.net/v/t1.6435-9/30713331_552262821839810_5206948458220486656_n.jpg?_nc_cat=101&ccb=1-7&_nc_sid=cdbe9c&_nc_ohc=aUlwazJk3gwAX8ANXGs&_nc_ht=scontent.fsof11-1.fna&oh=00_AfCRqIge6omVR7j-Jz20_Hk83ZsHYGk8yJ9vtlgYyXfoZA&oe=64E2F4C2"
                         class="img-fluid" alt="img">
                </div>
                <div class="col-10 col-md-5 order-1 order-md-3 py-3 timeline-date">
                    <time>14.04.2018</time>
                </div>
            </div>

            <div class="row no-gutters justify-content-end justify-content-md-around align-items-start  timeline-nodes">
                <div class="col-10 col-md-5 order-3 order-md-1 timeline-content">
                    <h3 class=" text-light">Second Donation</h3>
                    <p>We were able to purchase the SECOND incubator thanks to the TONS of caps we collected and
                        recycled TOGETHER! The incubator thank was donated to Chirpan`s Hospital</p>
                </div>
                <div class="col-2 col-sm-1 px-md-3 order-2 timeline-image text-md-center">
                    <img src="https://scontent.fsof11-1.fna.fbcdn.net/v/t1.6435-9/44461918_684846185248139_5893792562975604736_n.jpg?stp=dst-jpg_s960x960&_nc_cat=102&ccb=1-7&_nc_sid=340051&_nc_ohc=vORLHTEtXHEAX8yrG1v&_nc_ht=scontent.fsof11-1.fna&oh=00_AfCArGyBSm6d5vi0vzVpeZN98XzcsyEzf3JULYpon2F_xw&oe=64E2FC66"
                         class="img-fluid" alt="img">
                </div>
                <div class="col-10 col-md-5 order-1 order-md-3 py-3 timeline-date">
                    <time>20.10.2018</time>
                </div>
            </div>

            <div class="row no-gutters justify-content-end justify-content-md-around align-items-start  timeline-nodes">
                <div class="col-10 col-md-5 order-3 order-md-1 timeline-content">
                    <h3 class=" text-light">Third Donation</h3>
                    <p>We were able to purchase the THIRD incubator thanks to the TONS of caps we collected and
                        recycled TOGETHER! The incubator thank was donated to Botevgrad`s Hospital</p>
                </div>
                <div class="col-2 col-sm-1 px-md-3 order-2 timeline-image text-md-center">
                    <img src="https://scontent.fsof11-1.fna.fbcdn.net/v/t1.6435-9/44461918_684846185248139_5893792562975604736_n.jpg?stp=dst-jpg_s960x960&_nc_cat=102&ccb=1-7&_nc_sid=340051&_nc_ohc=vORLHTEtXHEAX8yrG1v&_nc_ht=scontent.fsof11-1.fna&oh=00_AfCArGyBSm6d5vi0vzVpeZN98XzcsyEzf3JULYpon2F_xw&oe=64E2FC66"
                         class="img-fluid" alt="img">
                </div>
                <div class="col-10 col-md-5 order-1 order-md-3 py-3 timeline-date">
                    <time>26.11.2018</time>
                </div>
            </div>

            <div class="row no-gutters justify-content-end justify-content-md-around align-items-start  timeline-nodes">
                <div class="col-10 col-md-5 order-3 order-md-1 timeline-content">
                    <h3 class=" text-light">Second Donation</h3>
                    <p>We were able to purchase the SECOND incubator thanks to the TONS of caps we collected and
                        recycled TOGETHER! The crucible was donated to Chirpan Hospital</p>
                </div>
                <div class="col-2 col-sm-1 px-md-3 order-2 timeline-image text-md-center">
                    <img src="https://scontent.fsof11-1.fna.fbcdn.net/v/t1.6435-9/44461918_684846185248139_5893792562975604736_n.jpg?stp=dst-jpg_s960x960&_nc_cat=102&ccb=1-7&_nc_sid=340051&_nc_ohc=vORLHTEtXHEAX8yrG1v&_nc_ht=scontent.fsof11-1.fna&oh=00_AfCArGyBSm6d5vi0vzVpeZN98XzcsyEzf3JULYpon2F_xw&oe=64E2FC66"
                         class="img-fluid" alt="img">
                </div>
                <div class="col-10 col-md-5 order-1 order-md-3 py-3 timeline-date">
                    <time>20.10.2018</time>
                </div>
            </div>

            <div class="row no-gutters justify-content-end justify-content-md-around align-items-start  timeline-nodes">
                <div class="col-10 col-md-5 order-3 order-md-1 timeline-content">
                    <h3 class=" text-light">Aluminum cans</h3>
                    <p>The beginning of the collection of aluminum cans (separate from the caps).</p>
                </div>
                <div class="col-2 col-sm-1 px-md-3 order-2 timeline-image text-md-center">
                    <img src="https://images.unsplash.com/photo-1561202657-6f1fd859f713?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80"
                         class="img-fluid" alt="img">
                </div>
                <div class="col-10 col-md-5 order-1 order-md-3 py-3 timeline-date">
                    <time>01.03.2021</time>
                </div>
            </div>

        </div>
    </div>
{% endblock %}