{% extends 'base/base.html' %}

{% block main_content %}
    <!-- Carousel wrapper -->
    <div class="carousel-inner">
        <!-- Single item -->
        <div class="carousel-item active">
            <img src="https://images.unsplash.com/photo-1647616777717-9b20c7abd581?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1332&q=80"
                 class="d-block w-100"
                 alt="Sunset Over the City"/>
            <div class="carousel-caption d-none d-md-block">
                <h3 class="text-uppercase">About us</h3>
                <p class="text-uppercase custom-title">History</p>
            </div>
        </div>
    </div>


    <hr class="hr hr-blurry"/>
    <section class="mv-section">
        <div class="container">
            <div class="row">
                <div class="maintitle">
                    <h2 class="wow bounceInDown text-uppercase" data-wow-duration="1s"
                        data-wow-delay="0.1s"
                        style="visibility: visible; animation-duration: 1s; animation-delay: 0.1s; animation-name: bounceInDown;">
                        <strong><span class="lighter">Our journey of</span> change </strong></h2>
                    <hr class="hr hr-blurry"/>
                    <p class="lead">
                        "Caps for the Future" was launched in October 2017. The main objective of the first campaign was
                        of donating at least one CUVYOZ to a hospital in a less populated area. To everyone's surprise,
                        we were able to donate the first one just FIVE weeks after our first campaign at the end of
                        October. For 5 years, the campaign not only continues to gather strength and funds, but also its
                        creator founded Clubs for the Future.
                    </p>
                    <p class="lead">
                        Since our humble beginnings in 2017, our charity project has grown into a powerful force of
                        positive change, touching countless lives and making a difference in the community. It all
                        started with a simple idea - collecting caps - but soon evolved into a profound mission to
                        transform lives.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <hr class="hr hr-blurry"/>

    <section class="mv-section">
        <div class="container">
            <div class="row">
                <div class="maintitle">
                    <h2 class="wow bounceInDown text-uppercase" data-wow-duration="1s"
                        data-wow-delay="0.1s"
                        style="visibility: visible; animation-duration: 1s; animation-delay: 0.1s; animation-name: bounceInDown;">
                        <strong><span class="lighter">From</span> 2017 <span class="lighter">to</span> today</strong>
                    </h2>
                    <hr class="hr hr-blurry"/>

                    <div class="timeline">
                        {% for event in timeline_list %}
                            <div class="row no-gutters justify-content-end justify-content-md-around align-items-start timeline-nodes">
                                <div class="col-10 col-md-5 order-3 order-md-1 timeline-content">
                                    <h3 class="text-uppercase">{{ event.event_title }}</h3>
                                    <p>{{ event.event_summary }}</p>
                                </div>
                                <div class="col-10 col-md-5 order-1 order-md-3 py-3 timeline-date">
                                    <time>{{ event.event_date }}</time>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>

    <hr class="hr hr-blurry"/>

    <section class="mv-section">
        <div class="container">
            <div class="row">
                <div class="maintitle">
                    <p class="lead">
                        Through the years, we have been blessed to witness heartwarming success stories - stories of
                        lives transformed, communities uplifted, and dreams realized. Each milestone in our history is a
                        testament to the power of unity and the strength of human compassion.
                    </p>
                    <p class="lead">
                        Join us in this incredible journey of giving, as we continue to create a brighter and more
                        promising future for all. Your support, no matter how small, has the potential to change lives
                        and make a lasting impact.
                    </p>
                    <p class="lead">
                        Together, we can build a world where hope prevails, and every child has a chance to thrive. Be a
                        part of our history.
                    <h2>Be a part of the change.</h2>
                    </p>
                    <p class="lead">
                        Support our cause by volunteering, donating, or participating in our upcoming events. Together,
                        we can create a better tomorrow for those in need.
                    <h2>Join us now.</h2>
                    </p>
                    <p>
                        <a href="{% url 'campaigns-page' %}" class="btn btn-default btn-lg wow fadeInLeft"
                           role="button"> Upcoming Events </a>
                        <a href="{% url 'register' %}" class="btn btn-default btn-lg wow fadeInLeft"
                           role="button"> Volunteer with us </a>
                        <a href="{% url 'donation' %}" methods="post"
                           class="btn btn-default btn-lg wow fadeInRight " role="button"> Make Donation </a>
                    </p>
                </div>
            </div>
        </div>
    </section>
    <hr class="hr hr-blurry"/>

{% endblock %}


{#<div class="row no-gutters justify-content-end justify-content-md-around align-items-start  timeline-nodes">#}
{#    <div class="col-10 col-md-5 order-3 order-md-1 timeline-content">#}
{#        <h3 class="text-uppercase">The beginning</h3>#}
{#        <p>The first campaign was announced on October 28, 2017 on the page of#}
{#            the sports club and was seen by over 400,000 people, and on the day itself in 3#}
{#            hours 8 and#}
{#            a half tons of caps were collected.</p>#}
{#    </div>#}
{#    <div class="col-2 col-sm-1 px-md-3 order-2 timeline-image text-md-center">#}
{#        <div class="timeline-image-circle"#}
{#             style="background-image: url('https://images.unsplash.com/photo-1637730177972-0bb1d3a05c43?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80');"></div>#}
{#    </div>#}
{#    <div class="col-10 col-md-5 order-1 order-md-3 py-3 timeline-date">#}
{#        <time>28.10.2017</time>#}
{#    </div>#}
{#</div>#}

Through the years, we have been blessed to witness heartwarming success stories - stories of lives transformed, communities uplifted, and dreams realized. Each milestone in our history is a testament to the power of unity and the strength of human compassion.

Join us in this incredible journey of giving, as we continue to create a brighter and more promising future for all. Your support, no matter how small, has the potential to change lives and make a lasting impact.

Together, we can build a world where hope prevails, and every child has a chance to thrive. Be a part of our history. Be a part of the change.

[Call to Action]
Support our cause by volunteering, donating, or participating in our upcoming events. Together, we can create a better tomorrow for those in need. Join us now.

[Donate Button] [Volunteer Button] [Upcoming Events Button]