{% extends 'base/base.html' %}

{% block main_content %}

    <!-- Carousel wrapper -->
    <div class="carousel-inner">
        <!-- Single item -->
        <div class="carousel-item active">
            <img src="https://images.unsplash.com/photo-1532009877282-3340270e0529?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80"
                 class="d-block w-100"
                 alt="Sunset Over the City"/>
            <div class="carousel-caption d-none d-md-block">
                <h5 class="text-uppercase">Mission and Values</h5>
            </div>
        </div>
    </div>
    <!-- Carousel wrapper -->
    <hr class="hr hr-blurry"/>
    <section class="mv-section">
        <div class="container">
            <div class="row">
                <div class="maintitle">
                    <h2 class="wow bounceInDown text-uppercase" data-wow-duration="1s"
                        data-wow-delay="0.1s"
                        style="visibility: visible; animation-duration: 1s; animation-delay: 0.1s; animation-name: bounceInDown;">
                        <strong><span class="lighter">Our </span>Mission</strong></h2>
                    <hr class="hr hr-blurry"/>
                    <p class="lead">
                        Our organization's mission is dedicated to improving the local living environment by
                        implementing diverse initiatives that positively impact the community. From preserving nature
                        and enhancing healthcare facilities to supporting premature babies and ensuring safety through
                        vital equipment, our efforts contribute to creating a healthier, safer, and more nurturing
                        environment for the residents of our city and country. By focusing on various aspects of community
                        well-being, our organization plays a crucial role in making a lasting positive impact on the
                        lives of those you serve.
                    </p>
                    <blockquote>
                        <h2 class="wow bounceInDown text-uppercase text-center custom-size" data-wow-duration="1s"
                            data-wow-delay="0.1s"
                            style="visibility: visible; animation-duration: 1s; animation-delay: 0.1s; animation-name: bounceInDown;">
                            <span class="lighter">"We make a living by what we get, but</span> we make a life by what we give."</h2>
                        <small>Winston Churchill</small>
                    </blockquote>
                </div>
            </div>
        </div>
    </section>
    <hr class="hr hr-blurry"/>

    <section class="mv-section">
        <div class="container">
            <div class="row">
                <div class="maintitle">
                    <h2 class="wow bounceInDown text-uppercase" data-wow-duration="1s"
                        data-wow-delay="0.1s"
                        style="visibility: visible; animation-duration: 1s; animation-delay: 0.1s; animation-name: bounceInDown;">
                        <strong><span class="lighter">Our </span>Values</strong></h2>
                    <hr class="hr hr-blurry"/>
                    <p class="lead">
                        The values of our charity organizations encompass compassion, integrity, diversity, empowerment,
                        collaboration, and accountability. We prioritize empathy and care for those in need, uphold
                        honesty and ethical behavior, embrace diversity and inclusivity, aim to empower beneficiaries,
                        work in partnership with others, and take responsibility for their actions and resources. These
                        values guide our actions and decision-making processes, ensuring that we fulfill our mission and
                        make a positive impact on society.
                    </p>
                </div>

                <div class="row">
                    <ul class="custom-list custom-lead-bl">
                        <li>
                            <div class="ms-2">
                                <div class="fw-bold">Compassion:</div>
                                We deeply care about the well-being of those in need and strive to understand and
                                empathize with their challenges and struggles.
                            </div>
                        </li>
                        <li>
                            <div class="ms-2">
                                <div class="fw-bold">Integrity:</div>
                                We uphold the highest standards of honesty, transparency, and ethical conduct in all our
                                endeavors, ensuring that resources are used responsibly and effectively.
                            </div>
                        </li>
                        <li>
                            <div class="ms-2">
                                <div class="fw-bold">Diversity and Inclusivity:</div>
                                We embrace diversity and treat every individual with respect and dignity, regardless of
                                their background, beliefs, or circumstances.
                            </div>
                        </li>
                        <li>
                            <div class="ms-2">
                                <div class="fw-bold">Empowerment:</div>
                                Instead of creating dependency, we aim to empower the communities we serve, equipping
                                them with the tools and skills to improve their own lives.
                            </div>
                        </li>
                        <li>
                            <div class="ms-2">
                                <div class="fw-bold">Collaboration:</div>
                                We actively seek partnerships and cooperation with other stakeholders, including
                                governments, NGOs, and local communities, to achieve greater collective impact.
                            </div>
                        </li>
                        <li>
                            <div class="ms-2">
                                <div class="fw-bold">Accountability:</div>
                                We take full responsibility for our actions and outcomes, ensuring that the trust of our
                                donors and beneficiaries is well-placed.
                            </div>
                        </li>
                        <li>
                            <div class="ms-2">
                                <div class="fw-bold">Impact-Driven:</div>
                                We are committed to creating measurable and sustainable change in the lives of those we
                                support, focusing on outcomes that lead to meaningful improvements.
                            </div>
                        </li>
                        <li>
                            <div class="ms-2">
                                <div class="fw-bold">Innovation:</div>
                                We embrace creativity and innovative solutions to address complex challenges and improve
                                the effectiveness of our programs.
                            </div>
                        </li>
                        <li>
                            <div class="ms-2">
                                <div class="fw-bold">Stewardship:</div>
                                We recognize the importance of prudent management and stewardship of resources,
                                maximizing their positive impact on our beneficiaries.
                            </div>
                        </li>
                        <li>
                            <div class="ms-2">
                                <div class="fw-bold">Volunteerism:</div>
                                We appreciate and value the dedication of our volunteers, recognizing their invaluable
                                contributions to our mission.
                            </div>
                        </li>
                    </ul>
                </div>


                {#                <ul>#}
                {#                    <li>#}
                {#                        To unite, not to divide#}
                {#                    </li>#}
                {#                    <li>To build, not to destroy</li>#}
                {#                    <li> To look for the best solution for everyone and for the whole system (zero sum vs no zero sum#}
                {#                        game) and struggle to implement it#}
                {#                    </li>#}
                {#                    <li>#}
                {#                        Not to accept and actively fight against injustice/ lies/ manipulation/ violence#}
                {#                    </li>#}
                {#                    <li>#}
                {#                        To communicate carefully, respectfully, without rudeness and/or violence, trying to understand#}
                {#                        before being understood#}
                {#                    </li>#}
                {#                    <li>To be an example of support for communication, unification, constructiveness, solidarity and#}
                {#                        mutual#}
                {#                        assistance#}
                {#                    </li>#}
                {#                </ul>#}
            </div>
        </div>
    </section>
    <hr class="hr hr-blurry"/>
    <section class="mv-section">
        <div class="container">
            <div class="row">
                <div class="maintitle">
                    <h2 class="wow bounceInDown text-uppercase" data-wow-duration="1s"
                        data-wow-delay="0.1s"
                        style="visibility: visible; animation-duration: 1s; animation-delay: 0.1s; animation-name: bounceInDown;">
                        <strong><span class="lighter">Our </span>Goals</strong></h2>
                    <hr class="hr hr-blurry"/>
                    <p class="lead">
                        Our charity organization's goals revolve around building a connected and proactive community,
                        supporting external campaigns, improving local environments and living conditions, collaborating
                        nationwide for greater impact, and encouraging values-based involvement in Kyustendil. These
                        objectives collectively reflect your organization's dedication to making a meaningful difference
                        at various levels, from the local community to the broader national context.
                    </p>
                </div>

                <div class="row">
                    <ol class="custom-list custom-lead-bl">
                        <li>
                            <div class="ms-2">
                                <div class="fw-bold">Connect and Empower:</div>
                                To bring together proactive individuals locally, fostering a supportive community where
                                members help and collaborate with one another.
                            </div>
                        </li>
                        <li>
                            <div class="ms-2">
                                <div class="fw-bold">Support "Caps for the Future":</div>
                                To provide organizational, informational, and manpower support to the "Caps for the
                                Future" campaign, contributing to its success and impact.
                            </div>
                        </li>
                        <li>
                            <div class="ms-2">
                                <div class="fw-bold">Local Development:</div>
                                To identify and contribute to local causes, improving the environment and living
                                conditions in the relevant settlement or district.
                            </div>
                        </li>
                        <li>
                            <div class="ms-2">
                                <div class="fw-bold">Nationwide Collaboration:</div>
                                To collaborate with other clubs across Bulgaria, working collectively to enhance the
                                environment and living conditions nationwide.
                            </div>
                        </li>
                        <li>
                            <div class="ms-2">
                                <div class="fw-bold">Kyustendil Improvement:</div>
                                To actively engage in initiatives that aim to enhance living conditions in Kyustendil,
                                making a positive impact in the local community.
                            </div>
                        </li>
                        <li>
                            <div class="ms-2">
                                <div class="fw-bold">Values-Based Inclusion:</div>
                                To inspire like-minded individuals to join the club, fostering a sense of shared values
                                and commitment to making a difference.
                            </div>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
