{% extends 'base/base.html' %}

{% block main_content %}
    <section id="mission" class="section first-section">
        <div class="container custom-container">
            <div class="row">
                <h2><span class="lighter">OUR</span> VALUES</h2>
                <p class="lead text-justify">
                    The values of Club for Future are its core. Without them, there is no way to successfully
                    carry out the goals of the club. Get to know the values of "Club for the Future":
                </p>
                <ul>
                    <li>
                        To unite, not to divide
                    </li>
                    <li>To build, not to destroy</li>
                    <li> To look for the best solution for everyone and for the whole system (zero sum vs no zero sum
                        game) and struggle to implement it
                    </li>
                    <li>
                        Not to accept and actively fight against injustice/ lies/ manipulation/ violence
                    </li>
                    <li>
                        To communicate carefully, respectfully, without rudeness and/or violence, trying to understand
                        before being understood
                    </li>
                    <li>To be an example of support for communication, unification, constructiveness, solidarity and
                        mutual
                        assistance
                    </li>
                </ul>
            </div>

            <div class="container">
                <div class="row">
                    <h2><span class="lighter">OUR</span> GOALS</h2>
                    <p class="lead text-justify">
                        It is important to know the goals of "Clubs for the Future" in order to always strive for them
                        and, if possible, to surpass them.
                        Get to know the goals of "Clubs for the Future":
                    </p>
                    <ul>
                        <li>
                            To connect active and proactive people locally
                        </li>
                        <li>
                            To support the "Caps for the Future" campaign organizationally, informationally and with manpower
                        </li>
                        <li>
                           The members of the club get to know other active and constructive people and help each other
                        </li>
                        <li>
                            To develop and support local causes in order to improve the environment and living conditions in the relevant settlement/district;
                        </li>
                        <li>
                            Together with other clubs throughout the country, to work together to improve the environment and living conditions in Bulgaria as a whole
                        </li>
                        <li>
                           To actively participate in activities aimed at improving living conditions in Kyustendil
                        </li>
                        <li>
                            To stimulate people with similar values to join the club
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

{% endblock %}