{% load static %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
          rel="stylesheet">


    <link rel="stylesheet" href="{% static 'css/animate-min.css' %}">
    <link rel="stylesheet" href="{% static 'css/campaigns-style.css' %}">
    <link rel="stylesheet" href="{% static 'css/login-form-style.css' %}">
    <link rel="stylesheet" href="{% static 'css/timeline-styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/report-styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/contact-us.css' %}">
    <link rel="stylesheet" href="{% static 'css/testimonial-confirmation-delete.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

</head>

<body>
{% block parallax_content %}
{% endblock %}

<header>
    {% include 'base/navbar.html' %}
</header>

{% block main_content %}
{% endblock %}

{% include 'base/footer.html' %}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"
        integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS"
        crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/3cd9347f98.js" crossorigin="anonymous"></script>
<script src="{% static 'js/custom.js' %}"></script>
</body>

</html>