<div class="custom-card">
    <img class="card-img-top" src="{{ campaign.image }}" alt="{{ campaign.name }}"
         height="200px">
    <div class="card-body">
        <a href="{% url 'charity-cause-details' campaign.pk %}"><h4
                class="card-title text-uppercase text-center">{{ campaign.name }}</h4></a>
        <p class="card-text">{{ campaign.resume }}</p>

    </div>
    {% if campaign.active %}
        {% if request.user.is_authenticated and user.user_type == "VOLUNTEER" %}
            <a href="{% url 'charity-cause-participation' campaign.id %}">
                <button class="btn btn-secondary">Participate</button>
            </a>
        {% endif %}
    {% endif %}

    {% if campaign.active %}
        <div class="card-footer active-card-footer">
            <small class="text-muted">Active</small>
        </div>
    {% elif not campaign.active %}
        <div class="card-footer expired-card-footer">
            <small class="text-muted">Expired</small>
        </div>
    {% endif %}
</div>


