{% load percentage %}
<div class="custom-card">
    <img class="card-img-top" src="{{ campaign.logo }}" alt="{{ campaign.name }}"
         height="200px">
    <div class="card-body">
        <a href="{% url 'donation-cause-details' campaign.pk %}"><h4
                class="card-title text-uppercase text-center">{{ campaign.title }}</h4></a>
        <p class="card-text">{{ campaign.purpose }}</p>
        {% if not campaign.succeeded %}
            {% if request.user.is_authenticated and user.user_type == "SPONSOR" %}
                <a href="{% url 'sponsor-donation' campaign.id %}">
                    <button>Donate</button>
                </a>
            {% endif %}
        {% endif %}

        <div class="container">
            <div class="row">
                <div class="col-md-6 left-column">
                    <p>{{ campaign.current_amount }} BGN</p>
                </div>
                <div class="col-md-6 right-column">
                    <p>{{ campaign.goal_amount }} BGN</p>
                </div>
            </div>
        </div>
        <div class="progress">
            <div class="progress-bar" role="progressbar"
                 style="width: {{ campaign.current_amount|percentage_complete:campaign.goal_amount }}%;"
                 aria-valuenow="{{ campaign.current_amount|percentage_complete:campaign.goal_amount }}"
                 aria-valuemin="0" aria-valuemax="100">
            </div>
        </div>
    </div>

    {% if not campaign.succeeded %}
        <div class="card-footer active-card-footer">
            <small class="text-muted">Active</small>
        </div>
    {% elif campaign.succeeded %}
        <div class="card-footer expired-card-footer">
            <small class="text-muted">Succeeded</small>
        </div>
    {% endif %}
</div>




