{% load static %}

<nav class="navbar navbar-expand-lg fixed-top bg-white">
    <div class="container">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'home-page' %}">
                <img src="{% static 'images/logo.jpg' %}" alt="Logo" width="40" height="40"
                     class="d-inline-block align-text-top">
                Club for Future
            </a>
        </div>

        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                           aria-expanded="false">
                            About us
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{% url 'mission-and-values-page' %}">Mission and
                                values</a></li>
                            <li><a class="dropdown-item" href="{% url 'who-we-are-page' %}">Who we are</a></li>
                            <li><a class="dropdown-item" href="{% url 'history-page' %}">History</a></li>
                        </ul>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#about" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            Our work
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{% url 'what-we-do-page' %}">What we do</a></li>
                            <li><a class="dropdown-item" href="{% url 'campaigns-page' %}">Campaigns</a></li>
                            <li><a class="dropdown-item" href="{% url 'where-we-work-page' %}">Where we work</a></li>
                        </ul>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#gallery" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            Get involved
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{% url 'volunteers-page' %}">How to involve</a></li>
                            {#                            <li><a class="dropdown-item" href="#">Educational resources/Blog</a></li>#}
                            <li><a class="dropdown-item" href="{% url 'contact-us-page' %}">Report to us</a></li>
                            <li><a class="dropdown-item" href="#">Contact us</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>

        <div class="container-fluid">
            <ul class="navbar-nav mr-auto">
                {% if request.user.is_authenticated %}
                    {% if request.path != '/profile/' %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button"
                               data-bs-toggle="dropdown" aria-expanded="false">
                                {{ request.user }}
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="{% url 'profile-details-page' %}">Profile</a></li>
                                <li><a class="dropdown-item" href="{% url 'security-settings-page' %}">Settings</a></li>
                                <li><a class="dropdown-item" href="{% url 'logout-page' %}">Logout</a></li>
                            </ul>
                        </li>
                    {% endif %}
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login-page' %}"><i
                                class="fa-solid fa-arrow-right-to-bracket"></i>
                            Login</a>
                    </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'donation-page' %}">
                        <button class="btn btn-block btn-secondary text-uppercase">Donate</button>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>