{% extends 'base/base.html' %}

{% block main_content %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 left-column text-center">
                <a href="">How to Help</a>
                <h2>Volunteer</h2>
                <p>
                    Our volunteers are our salvation. They are tireless, hardworking and not afraid of carrying
                    tons of caps or crushing thousands of bottles, jugs.

                </p>
            </div>

            <!-- Right Column - Image -->
            <div class="col-md-6 right-column">
                <img src="https://images.unsplash.com/photo-1559027615-cd4628902d4a?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1174&q=80"
                     alt="Image">
            </div>
        </div>
        <div class="col text-center">
            <h3>Help us during the campaigns - be it with a carry, a crush, a place or an audience with a good mood.
            </h3>
            <button><a href="">
                Volunteer With Us
            </a></button>
        </div>
    </div>
{% endblock %}
