{% extends 'base/base.html' %}

{% block main_content %}

    <!-- Carousel wrapper -->
    <div class="carousel-inner">
        <!-- Single item -->
        <div class="carousel-item active">
            <img src="https://images.unsplash.com/photo-1563906267088-b029e7101114?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80"
                 class="d-block w-100"
                 alt="Sunset Over the City"/>
            <div class="carousel-caption d-none d-md-block">
                <h3 class="text-uppercase">Get involved</h3>
                <p class="text-uppercase custom-title">Ways to involve</p>
            </div>
        </div>
    </div>
    <!-- Carousel wrapper -->

    <hr class="hr hr-blurry"/>

    <section class="mv-section">
        <div class="container">
            <div class="row">

                <div class="maintitle">
                    <h2 class="wow bounceInDown text-uppercase" data-wow-duration="1s"
                        data-wow-delay="0.1s"
                        style="visibility: visible; animation-duration: 1s; animation-delay: 0.1s; animation-name: bounceInDown;">
                        <strong>Volunteer </strong><span class="lighter">with us</span></h2>
                    <hr class="hr hr-blurry"/>
                    <p class="lead">
                        Join our team of dedicated volunteers and become an essential part of our impactful campaigns.
                        As a volunteer, you will actively participate in various charity events and initiatives, working
                        closely with our team to make a positive difference in the community. Whether you're helping
                        with event logistics, spreading awareness, or lending a helping hand during campaigns, your
                        passion and commitment will play a vital role in our mission towards a better future.
                    </p>
                </div>

                <div class="col-md-6 left-column text-center lead d-flex flex-column justify-content-center">
                    <h3 class="text-uppercase lighter">Benefits of Volunteering</h3>
                    <p>
                        Our volunteers are our salvation. They are tireless, hardworking and not afraid of
                        carrying
                        tons of caps or crushing thousands of bottles, jugs.
                    </p>
                    <ul>
                        <li>Make a meaningful impact on the lives of those in need.</li>
                        <li>Gain valuable experience and skills in event management and social work.</li>
                        <li>Connect with like-minded individuals who share your passion for giving back.</li>
                        <li>Receive recognition and appreciation for your valuable contributions.</li>
                    </ul>
                    <h4>Help us during the campaigns - be it with a carry, a crush, a place or an audience with a good
                        mood.
                    </h4>
                    <button><a href="{% url 'volunteer-register' %}">Be Volunteer</a></button>

                </div>

                <!-- Right Column - Image -->
                <div class="col-md-6 right-column">
                    <img src="https://images.unsplash.com/photo-1559027615-cd4628902d4a?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1174&q=80"
                         alt="Image" class="img-fluid">
                </div>
            </div>
        </div>
    </section>

    <hr class="hr hr-blurry"/>

    <section class="mv-section">
        <div class="container">
            <div class="row">
                <div class="maintitle">
                    <h2 class="wow bounceInDown text-uppercase" data-wow-duration="1s"
                        data-wow-delay="0.1s"
                        style="visibility: visible; animation-duration: 1s; animation-delay: 0.1s; animation-name: bounceInDown;">
                        <span class="lighter">Be part</span><strong> of us</strong></h2>
                    <hr class="hr hr-blurry"/>
                    <p class="lead">
                        Be an integral part of Club for Future by becoming a member. As a member, you'll be part of our
                        close-knit community, engaging in regular meetings, discussions, and decision-making processes.
                        Your membership will not only support our initiatives but also provide you with exclusive
                        opportunities to actively shape the direction of our charitable projects. Together, we can
                        achieve more and create lasting positive changes in the lives of those we serve.
                    </p>
                </div>

                <div class="col-md-6 left-column">
                    <img src="https://images.unsplash.com/photo-1527525443983-6e60c75fff46?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=685&q=80"
                         alt="Image" class="img-fluid">
                </div>

                <div class="col-md-6 right-column text-center lead d-flex flex-column justify-content-center">
                    <h3 class="text-uppercase lighter">Membership Benefits</h3>
                    <ul>
                        <li>Participate in shaping the future of Club for Future's projects and campaigns.</li>
                        <li>Access to members-only events, workshops, and networking opportunities.</li>
                        <li>Stay informed about our latest initiatives and progress through regular updates.</li>
                        <li>Collaborate with like-minded individuals dedicated to making a difference.</li>
                    </ul>
                    <button><a href="{% url 'member-register' %}">Be member</a></button>
                </div>
            </div>
        </div>
    </section>

    <hr class="hr hr-blurry"/>

    <section class="mv-section">
        <div class="container">
            <div class="row">

                <div class="maintitle">
                    <h2 class="wow bounceInDown text-uppercase" data-wow-duration="1s"
                        data-wow-delay="0.1s"
                        style="visibility: visible; animation-duration: 1s; animation-delay: 0.1s; animation-name: bounceInDown;">
                        <span class="lighter">Be our </span><strong>sponsor</strong></h2>
                    <hr class="hr hr-blurry"/>
                    <p class="lead">
                        Make a significant impact as a corporate sponsor by supporting our charitable endeavors. As a
                        sponsor, your company's contributions will directly fund our campaigns, allowing us to extend
                        our reach and enhance the scale of our projects. By aligning your brand with our mission, you
                        demonstrate a strong commitment to social responsibility, making a positive impression on both
                        customers and stakeholders.p>
                </div>

                <div class="col-md-6 left-column text-center lead d-flex flex-column justify-content-center">
                    <h3 class="text-uppercase lighter">Sponsorship Benefits</h3>
                    <ul>
                        <li>Prominent brand exposure through our marketing and event materials.</li>
                        <li>Showcase your commitment to social causes and community welfare.</li>
                        <li>Networking opportunities with other socially responsible businesses.</li>
                        <li>Positive brand association with a trusted and impactful charity organization.</li>
                    </ul>
                    <h4>
                        Support us, your contribution matters!
                    </h4>
                    <button><a href="{% url 'sponsor-register' %}">Be Sponsor</a></button>

                </div>

                <!-- Right Column - Image -->
                <div class="col-md-6 right-column">
                    <img src="https://images.unsplash.com/photo-1548603702-546e446dd167?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=770&q=80"
                         alt="Image" class="img-fluid">
                </div>
            </div>
        </div>
    </section>
{% endblock %}
