{% extends 'base/base.html' %}

{% block main_content %}
    {% include 'base/carousel.html' with carousel_title='Get involved' carousel_subtitle='Ways to involve' carousel_img='https://images.unsplash.com/photo-1563906267088-b029e7101114?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80' carousel_alt='Ways to involve cover' %}


    <section class="mv-section">
        <div class="container">
            <div class="row">
                <div class="maintitle">
                    <h2 class="wow bounceInDown text-uppercase" data-wow-duration="1s"
                        data-wow-delay="0.1s"
                        style="visibility: visible; animation-duration: 1s; animation-delay: 0.1s; animation-name: bounceInDown;">
                        <strong>Volunteer</strong><span class="lighter"> with us</span></h2>
                    <hr class="hr hr-blurry"/>
                    <p class="lead">
                        Join our team of dedicated volunteers and become an essential part of our impactful campaigns.
                        As a volunteer, you will actively participate in various charity events and initiatives, working
                        closely with our team to make a positive difference in the community. Whether you're helping
                        with event logistics, spreading awareness, or lending a helping hand during campaigns, your
                        passion and commitment will play a vital role in our mission towards a better future.
                    </p>>
                    <p class="lead">
                        There are so many ways to make positive change for our country. Volunteer with us. Learn
                        first aid. Don't forget to collect caps, jugs and plastic bottles. Donate blood. Make a
                        donation to our organization.
                    </p>
                </div>
                <div class="col-md-6 gx-5 mb-4 text-justify">
                    <h3 class="text-uppercase"><strong>Volunteer Benefits</strong></h3>
                    <ul class="custom-list custom-lead-bl">
                        <li>
                            <div class="ms-2">
                                Make a meaningful impact on the lives of those in need.
                            </div>
                        </li>
                        <li>
                            <div class="ms-2">
                                Gain valuable experience and skills in event management and social work.
                            </div>
                        </li>
                        <li>
                            <div class="ms-2">
                                Connect with like-minded individuals who share your passion for giving back.
                            </div>
                        </li>
                        <li>
                            <div class="ms-2">
                                Receive recognition and appreciation for your valuable contributions.
                            </div>
                        </li>
                    </ul>
                    <h4 class="lighter text-uppercase">
                        Help us during the campaigns-with a carry, a crush, a place or with a good mood.
                    </h4>
                    {% if not user.is_authenticated %}
                        <a href="{% url 'volunteer-register' %}">
                            <button class="btn btn-block btn-secondary">Be Volunteer</button>
                        </a>
                    {% elif user.user_type == "VOLUNTEER" %}
                        <p class="lighter text-uppercase">
                            <strong>You are already volunteering with us. Your help is priceless! Thank you for being
                                there!</strong>
                        </p>
                        <a href="{% url 'charity-causes' %}">
                            <button class="btn btn-block btn-secondary">Go to charity causes</button>
                        </a>
                    {% endif %}
                </div>

                <div class="col-md-6 gx-5 mb-4">
                    <div class="bg-image hover-overlay ripple shadow-2-strong rounded-5" data-mdb-ripple-color="light">
                        <img src="https://images.unsplash.com/photo-1559027615-cd4628902d4a?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1174&q=80"
                             class="img-fluid">
                        <a href="#!">
                            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <hr class="hr hr-blurry"/>

    <section>
        <div class="container">
            <div class="row">
                <div class="maintitle">
                    <h2 class="wow bounceInDown text-uppercase" data-wow-duration="1s"
                        data-wow-delay="0.1s"
                        style="visibility: visible; animation-duration: 1s; animation-delay: 0.1s; animation-name: bounceInDown;">
                        <span class="lighter">Be part</span><strong> of us</strong></h2>
                    <hr class="hr hr-blurry"/>
                    <p class="lead">
                        Be an integral part of Club for Future by becoming a member. As a member, you'll be part of our
                        close-knit community, engaging in regular meetings, discussions, and decision-making processes.
                        Your membership will not only support our initiatives but also provide you with exclusive
                        opportunities to actively shape the direction of our charitable projects. Together, we can
                        achieve more and create lasting positive changes in the lives of those we serve.
                    </p>
                </div>
                <div class="col-md-6 gx-5 mb-4">
                    <div class="bg-image hover-overlay ripple shadow-2-strong rounded-5" data-mdb-ripple-color="light">
                        <img src="https://images.unsplash.com/photo-1582213782179-e0d53f98f2ca?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80"
                             class="img-fluid">
                        <a href="#!">
                            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                        </a>
                    </div>
                </div>

                <div class="col-md-6 gx-5 mb-4 text-justify">
                    <h3 class="text-uppercase"><strong>Membership Benefits</strong></h3>
                    <ul class="custom-list custom-lead-bl">
                        <li>
                            <div class="ms-2">
                                Participate in shaping the future of Club for Future's projects and campaigns.
                            </div>
                        </li>
                        <li>
                            <div class="ms-2">
                                Access to members-only events, workshops, and networking opportunities.
                            </div>
                        </li>
                        <li>
                            <div class="ms-2">
                                Stay informed about our latest initiatives and progress through regular updates.
                            </div>
                        </li>
                        <li>
                            <div class="ms-2">
                                Collaborate with like-minded individuals dedicated to making a difference.
                            </div>
                        </li>
                    </ul>
                    <h4 class="lighter text-uppercase">
                        Together we can do more!
                    </h4>
                    {% if not user.is_authenticated %}
                        <a href="{% url 'member-register' %}">
                            <button class="btn btn-block btn-secondary">Be member</button>
                        </a>
                    {% elif user.user_type == "MEMBER" %}
                        <p class="lighter text-uppercase">
                            <strong>You are already member of us. You are priceless! Thank you for being there!</strong>
                        </p>
                        <a href="{% url 'act-green-blog' %}">
                            <button class="btn btn-block btn-secondary">Go to 'Act GREEN' causes</button>
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>

    <hr class="hr hr-blurry"/>

    <section class="mv-section">
        <div class="container">
            <div class="row">
                <div class="maintitle">
                    <h2 class="wow bounceInDown text-uppercase" data-wow-duration="1s"
                        data-wow-delay="0.1s"
                        style="visibility: visible; animation-duration: 1s; animation-delay: 0.1s; animation-name: bounceInDown;">
                        <span class="lighter">Be our </span><strong>sponsor</strong></h2>
                    <hr class="hr hr-blurry"/>
                    <p class="lead">
                        Make a significant impact as a corporate sponsor by supporting our charitable endeavors. As a
                        sponsor, your company's contributions will directly fund our campaigns, allowing us to extend
                        our reach and enhance the scale of our projects. By aligning your brand with our mission, you
                        demonstrate a strong commitment to social responsibility, making a positive impression on both
                        customers and stakeholders.p>
                </div>
                <div class="col-md-6 gx-5 mb-4 text-justify">
                    <h3 class="text-uppercase"><strong>Sponsorship Benefits</strong></h3>
                    <ul class="custom-list custom-lead-bl">
                        <li>
                            <div class="ms-2">
                                Prominent brand exposure through our marketing and event materials.
                            </div>
                        </li>
                        <li>
                            <div class="ms-2">
                                Showcase your commitment to social causes and community welfare.ies.
                            </div>
                        </li>
                        <li>
                            <div class="ms-2">
                                Networking opportunities with other socially responsible businesses.
                            </div>
                        </li>
                        <li>
                            <div class="ms-2">
                                Positive brand association with a trusted and impactful charity organization.
                            </div>
                        </li>
                    </ul>
                    <h4 class="lighter text-uppercase">
                        Support us, your contribution matters!
                    </h4>
                    {% if not user.is_authenticated %}
                        <a href="{% url 'sponsor-register' %}">
                            <button class="btn btn-block btn-secondary">Be Sponsor</button>
                        </a>
                    {% elif user.user_type == "SPONSOR" %}
                        <p class="lighter text-uppercase">
                            <strong>You are already our sponsor. Your support is priceless! Thank you for being
                                there!</strong>
                        </p>
                        <a href="{% url 'donation-causes' %}">
                            <button class="btn btn-block btn-secondary">Go to Donation causes</button>
                        </a>
                    {% endif %}
                </div>

                <div class="col-md-6 gx-5 mb-4">
                    <div class="bg-image hover-overlay ripple shadow-2-strong rounded-5" data-mdb-ripple-color="light">
                        <img src="https://images.unsplash.com/photo-1435575653489-b0873ec954e2?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80"
                             class="img-fluid">
                        <a href="#!">
                            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </section>
{% endblock %}
