/*NAVBAR*/

.navbar {
    margin-bottom: 0;
}

@media (min-width: 768px) {
    .navbar-nav > li {
        float: left;
    }
}

.ml-auto {
    MARGIN-LEFT: 100px;
}

@media (min-width: 768px) {
    .ml-auto {
        float: left;
        margin: auto;
    }
}


/*DROP-DOWN*/
.dropbtn {
    background-color: white;
    color: inherit;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
}

.dropbtn:hover,
.dropbtn:focus {
    background-color: white;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}

/*NAVBAR*/
.navbar-inverse .navbar-nav > li > a {
    font-size: 16px;
}

/*IT`S NOT DYNAMIC*/
.text-justify {
    text-align: justify;
}

.custom-card {
    background-color: #fdfdfe;
    display: flex;
}

.container-fluid {
    width: 0%;
}


@media (min-width: 992px) {
    .col-md-5.custom-col-md-5 {
        width: 100%;
    }
}

/*CAUSES*/
.col-sm-4 {
    padding: 15px;
}

.custom-card .card {
    flex: 1;
}

#gallery .custom-card-img-top {
    object-fit: cover;
    height: 200px;
}

.card-body {
    margin: 5px;
}

#gallery img:hover {
    transform: scale(1.3);
}


/*ABOUT US*/
/*NOT WORKING - WHY???*/
#hero.custom-section {
    padding: 50px;
}

/*ABOUT SECTION*/
#about {
    background-color: #68ccc0;
    opacity: 0.9
}

/*GALLERY SECTION*/
#gallery {
    background-color: #68ccc0;
}

/*FAQ SECTION*/
#faq {
    background-color: #68ccc0;
}

/*OUR PEOPLE PAGE*/
#people {
    color: #484848;
    background-color: #68ccc0;
    margin: 0px 0px 100px 0px;
    padding: 100px 0px 100px 0px;
}

p:last-child {
    margin-bottom: 100px;
}

.additional-text.hidden {
    display: none;
}
