@import url('https://fonts.googleapis.com/css?family=Mukta');

:root {
    --bs-border-width: 1px;
    --bs-border-radius: 0.375rem;
    --bs-border-color-translucent: rgba(0, 0, 0, 0.175);
    --bs-body-color-rgb: 33, 37, 41;
    --white: #ffffff;
    --black: #000000;
    --blue: #0288d1;
    --gray: #5A5A5A;
    --light-gray: #9e9e9eb3;
    --green: #68ccc0;
    --light-green: #68ccc07d;
    --gray-white: #F9FAFD;
    --box-shadow1: 0px 0px 18px 2px rgba(10, 55, 90, 0.15);
}


body {
    font-family: 'Poppins', sans-serif;
}

h2 {
    font-size: 42px;
}


/*LOGIN-FORM-STYLE*/


/*COMMON*/
.custom-container {
    padding: 40px 0px;
}

.custom-section {
    padding: 30px 0px 30px 0px;
}


.campaigns-section,
.testimonials-section,
.contact-section,
.impact-section {
    background-color: var(--gray-white-transparent);
    opacity: 0.9;
}


/*PARALLAX*/

#parallax {
    height: 100%;
    width: 100%;
    top: 0;
    position: fixed;
    /*background-image: url(https://images.unsplash.com/photo-1533073526757-2c8ca1df9f1c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80);*/
    background-image: url(https://images.unsplash.com/photo-1469474968028-56623f02e42e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1174&q=80);
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    z-index: -100;
}

#parallax::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(183, 244, 216, 0.35); /* Adjust the alpha value to control darkness */
    pointer-events: none;
}

/*NAVBAR*/


.first-section {
    padding-top: 50px;
}

#navbarNavDropdown > ul > li > a {
    text-transform: uppercase;
}

.nav-link:hover {
    color: var(--light-green);
}

.nav-gray{
    background-color: var(--gray-white);
}

/*ABOUT*/
.lighter {
    font-weight: 100;
}

.btn-default, .label-default {
    border-color: #FFF;
    color: #fff;
    background-color: transparent;
    border-width: 2px;
    padding: 10px 25px;
}

.btn {
    font-weight: 400;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 3px;
}

.btn, .label {
    -webkit-border-radius: 0px;
    transition: all .2s;
}

a {
    cursor: pointer;
    text-decoration: none;
    -moz-transition: all .2s;
    -o-transition: all .2s;
    -webkit-transition: all .2s;
    transition: all .2s;
}

/*MISSION*/

.custom-more {
    color: var(--green);
}

.first-container {
    margin-top: 100px;
}

/*CAUSES*/
.col-sm-4 {
    padding: 15px;
}

.custom-card .card {
    flex: 1;
}

#gallery .custom-card-img-top {
    object-fit: cover;
    height: 200px;
}

#gallery img:hover {
    transform: scale(1.3);
}

#donate {
    width: auto;
    background-color: rgba(0, 0, 0, 0.3);
    border: 0;
    color: #fff;
    padding: 7px 5px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 1rem;
}

.custom-div {
    text-align: center;
    background-color: #f8f9fa;
}

/*LATEST NEWS*/
#faq {
    background-color: #F9FAFD;
}

.active-section {
    top: 0px;
}

.wrapsection {
    padding-top: 140px;
    padding-bottom: 140px;
    position: relative;
}

.faq-block {
    margin: 0px;
}

.panel-group .panel {
    border-radius: 0;
}

.panel-default {
    border-color: #eee;
}

.panel {
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}

.accordion-button {
    height: 80px;
    font-size: 20px;
}


/* VOLUNTEERS PAGE */

.right-column img {
    max-width: 100%; /* Ensure the image resizes proportionally */
}


/*ACHIEVEMENTS SECTION*/

.col-md-4 {
    padding: 0.25rem;
}

.card-group {
    justify-content: center;
}

.card-body {
    text-align: justify;
}

.active-card-footer {
    background-color: var(--light-green);
}

.expired-card-footer {
    background-color: var(--light-gray);
}

.custom-card {
    --bs-card-spacer-y: 1rem;
    --bs-card-spacer-x: 1rem;
    --bs-card-title-spacer-y: 0.5rem;
    --bs-card-border-width: var(--bs-border-width);
    --bs-card-border-color: var(--bs-border-color-translucent);
    --bs-card-border-radius: var(--bs-border-radius);
    --bs-card-inner-border-radius: calc(var(--bs-border-radius) - (var(--bs-border-width)));
    --bs-card-cap-padding-y: 0.5rem;
    --bs-card-cap-padding-x: 1rem;
    --bs-card-cap-bg: rgba(var(--bs-body-color-rgb), 0.03);
    --bs-card-bg: var(--white);
    --bs-card-img-overlay-padding: 1rem;
    --bs-card-group-margin: 0.75rem;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    height: var(--bs-card-bg);
    color: var(--gray);
    word-wrap: break-word;
    background-color: var(--bs-card-bg);
    background-clip: border-box;
    border: var(--bs-card-border-width) solid var(--bs-card-border-color);
    /*margin: 0.25rem;*/
    max-width: 430px;
}

@media (min-width: 576px) {
    .card-group > .custom-card {
        flex: 1 0 0%;
        margin-bottom: 0;
        border-radius: var(--bs-card-border-radius);
    }
}

.custom-btn {
    width: auto;
    margin-top: 20px;
    background-color: rgba(0, 0, 0, 0.3);
    border: 0;
    color: #fff;
    padding: 0px 20px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 14px;
}

/*LOGIN FORM STYLE*/
.custom-text {
    --bs-text-opacity: 1;
    color: rgba(var(--green), var(--bs-text-opacity));
!important;
}

/*PROFILE PAGE*/
.badge-secondary {
    background-color: #6c757d;
}

/*IMPACT SECTION*/
.custom-col {
    padding-right: 0.25rem;
    padding-left: 0.25rem;
}

.text-justify {
    text-align: justify;
}


/*TESTIMONIALS*/

.carousel-inner .carousel-item {
    align-items: center;
}

/* Adjust the spacing between carousel items */
.carousel-inner .carousel-item .col-md-4 {
    margin-right: 15px;
}

/*MISSION AND VALUES*/
/*       .carousel-caption h5 {*/
/*            color: white;*/
/*            margin-bottom: 350px;*/
/*            border-radius: 5px;*/
/*        }*/


.carousel-caption p.custom-title {
    /*color: var(--white);*/
    font-size: 60px;
}

/* Custom CSS to center the h5 element */
.carousel-caption {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.carousel-inner {
    max-height: 750px;
}

.carousel-item img {
    max-height: 750px;
    object-fit: cover;
    filter: brightness(70%);
}

hr {
    margin: 1rem 0;
}

.hr-blurry {
    clear: both;
    border: 0;
    height: 6px;
    background-image: linear-gradient(to right, white, transparent, white),
    linear-gradient(transparent, rgba(0, 0, 0, 0.55) 150%);
    background-image: -moz-linear-gradient(to right, white, transparent, white),
    -webkit-linear-gradient(transparent, rgba(0, 0, 0, 0.55) 150%);
    background-image: -ms-linear-gradient(to right, white, transparent, white),
    -webkit-linear-gradient(transparent, rgba(0, 0, 0, 0.55) 150%);
}

.mv-section {
    padding-top: 10px;
    padding-bottom: 10px;
}

.list-group-item {
    position: relative;
    display: block;
    padding: 1rem;
    border: none;

}

ul.custom-list {
    list-style-type: square;
    margin-left: 50px;
}

ol.custom-list {
    list-style-type: decimal;
    margin-left: 50px;
}

h2.custom-size {
    font-size: 24px;
}

/*WHO ARE WE*/
.hidden {
    display: none;
}


/*Get involved*/
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/*Donation campaigns*/
.card-footer {
    margin-top: 20px;
}


/*Article*/
#intro {
    margin-top: 58px;
}

@media (max-width: 991px) {
    #intro {
        margin-top: 45px;
    }
}

.card-img {
    height: 270px;
    object-fit: cover;
    max-width: 100%;
}


/*Profile Details*/

.custom-margin {
    margin-top: 30px;
}

.profile-section {
    margin-top: 100px;
}

/*FOOTER*/
.p-0 {
    margin-bottom: 0;
}

.btn-outline-light {
    --bs-btn-color: var(--black);
    --bs-btn-border-color: var(--black);
}

.card-body {
    max-width: 800px;
}

.profile-card {
    max-width: 800px;
}

/*DONATION CARDS*/
.don-custom-card {
    margin: 0.75rem;
}

.btn-outline-light-green {
    --bs-btn-color: var(--white);
    --bs-btn-border-color: var(--gray);
    --bs-btn-hover-color: var(--white);
    --bs-btn-hover-bg: var(--light-green);
    --bs-btn-hover-border-color: var(--light-green);
    --bs-btn-focus-shadow-rgb: 25, 135, 84;
    --bs-btn-active-color: var(--gray);
    --bs-btn-active-bg: var(--light-green);
    --bs-btn-active-border-color: var(--light-gray);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #198754;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #198754;
    --bs-gradient: none;
}

/*FOOTER*/
footer p {
    font-size: 14px;
}

.btn-white{
    --bs-btn-hover-bg: var(--white);
    --bs-btn-hover-color: var(--gray);
}