@import url('https://fonts.googleapis.com/css?family=Mukta');

body {
    font-family: 'Poppins', sans-serif;
}

h2 {
    font-size: 42px;
}


/*LOGIN-FORM-STYLE*/


/*COMMON*/
.custom-container {
    padding: 80px 0px 80px 0px;
}

.custom-section {
    padding: 50px 0px 50px 0px;
}


.campaigns-section,
.testimonials-section,
.contact-section,
.news-section,
.impact-section {
    background-color: var(--green);
    opacity: 0.8;
}

/*.impact-section,*/
/*.news-section {*/
/*    background-color: var(--gray-white);*/
/*    opacity: 0.7;*/
/*}*/

/*PARALLAX*/

#parallax {
    height: 100%;
    width: 100%;
    top: 0;
    position: fixed;
    /*background-image: url(https://images.unsplash.com/photo-1533073526757-2c8ca1df9f1c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80);*/
    background-image: url(https://images.unsplash.com/photo-1560093230-101306845069?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1632&q=80);
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    z-index: -100;
}

/*NAVBAR*/


.first-section {
    padding-top: 50px;
}

#navbarNavDropdown > ul > li > a {
    text-transform: uppercase;
}

/*ABOUT*/
.lighter {
    font-weight: 100;
}

.btn-default, .label-default {
    border-color: #FFF;
    color: #fff;
    background-color: transparent;
    border-width: 2px;
    padding: 10px 25px;
}

.btn {
    font-weight: 400;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 3px;
}

.btn, .label {
    -webkit-border-radius: 0px;
    transition: all .2s;
}

a {
    cursor: pointer;
    text-decoration: none;
    -moz-transition: all .2s;
    -o-transition: all .2s;
    -webkit-transition: all .2s;
    transition: all .2s;
}

/*MISSION*/

.custom-more {
    color: var(--green);
}

/*CAUSES*/
.col-sm-4 {
    padding: 15px;
}

.custom-card .card {
    flex: 1;
}

#gallery .custom-card-img-top {
    object-fit: cover;
    height: 200px;
}

.card-body {
    margin: 5px;
}

#gallery img:hover {
    transform: scale(1.3);
}

#donate {
    width: auto;
    background-color: rgba(0, 0, 0, 0.3);
    border: 0;
    color: #fff;
    padding: 7px 5px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 1rem;
}

/*LATEST NEWS*/
#faq {
    background-color: #F9FAFD;
}

.active-section {
    top: 0px;
}

.wrapsection {
    padding-top: 140px;
    padding-bottom: 140px;
    position: relative;
}

.faq-block {
    margin: 0px;
}

.panel-group .panel {
    border-radius: 0;
}

.panel-default {
    border-color: #eee;
}

.panel {
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}


.accordion-button:not(.collapsed) {
    background-color: var(--green);

}


/* VOLUNTEERS PAGE */

.right-column img {
    max-width: 100%; /* Ensure the image resizes proportionally */
}


/* FORM */

.white {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    overflow: hidden;
    z-index: 1;
    color: #fff;
}

#contactarea form {
    max-width: 800px;
    margin: 0px auto;
}

.text-left {
    text-align: left;
}

.maintitle {
    text-align: center;
}

.section-title {
    text-transform: uppercase;
    font-size: 30px;
    letter-spacing: 3px;
}

.maintitle .lead {
    margin: 0 auto;
    margin-bottom: 40px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: justify;
}

p.lead {
    font-size: 24px;
    font-weight: 300;
    text-align: justify;
}

.custom-lead-wh {
    font-size: 18px;
    font-weight: 300;
    text-align: justify;
    color: var(--white);
}

.custom-lead-bl {
    font-size: 20px;
    font-weight: 300;
    text-align: justify;
    color: var(--black);
}

#contact label {
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 2px;
    font-size: 13px;
    margin-top: 15px;
}

#contact input,
#contact select,
#contact textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    width: 100%;
    border: 0;
    color: rgb(37, 35, 35);
    background-color: #fff;
    height: 40px;
}

#contact textarea {
    height: 180px;
}

#contact input#submit {
    width: auto;
    margin-top: 20px;
    background-color: rgba(0, 0, 0, 0.3);
    border: 0;
    color: #fff;
    padding: 0px 20px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 14px;
}

@media (min-width: 768px) {
    #name {
        flex: 0 0 auto;
        width: 100%;
    }
}

#success, #error {
    display: none;
}


/*ACHIEVEMENTS SECTION*/

.col-md-4 {
    padding: 0.5rem;
}

.card {
    padding: 1rem;
}

.custom-btn {
    width: auto;
    margin-top: 20px;
    background-color: rgba(0, 0, 0, 0.3);
    border: 0;
    color: #fff;
    padding: 0px 20px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 14px;
}

/*LOGIN FORM STYLE*/
.custom-text {
    --bs-text-opacity: 1;
    color: rgba(var(--green), var(--bs-text-opacity));
!important;
}

/*PROFILE PAGE*/
.badge-secondary {
    background-color: #6c757d;
}

/*IMPACT SECTION*/
.custom-col {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
}

.text-justify {
    text-align: justify;
}


/*TESTIMONIALS*/

/*MISSION AND VALUES*/
/*       .carousel-caption h5 {*/
/*            color: white;*/
/*            margin-bottom: 350px;*/
/*            border-radius: 5px;*/
/*        }*/


.carousel-caption h5 {
    color: var(--white);
    font-size: 60px;
}

/* Custom CSS to center the h5 element */
.carousel-caption {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.carousel-inner {
    max-height: 750px; /* Adjust the value as needed */
}

.carousel-item img {
    max-height: 750px; /* Adjust the value as needed */
    object-fit: cover; /* Maintain aspect ratio and cover the container */
}
hr {
    margin: 1rem 0;
}

.hr-blurry {
    clear: both;
    border: 0;
    height: 6px;
    background-image: linear-gradient(to right, white, transparent, white),
    linear-gradient(transparent, rgba(0, 0, 0, 0.55) 150%);
    background-image: -moz-linear-gradient(to right, white, transparent, white),
    -webkit-linear-gradient(transparent, rgba(0, 0, 0, 0.55) 150%);
    background-image: -ms-linear-gradient(to right, white, transparent, white),
    -webkit-linear-gradient(transparent, rgba(0, 0, 0, 0.55) 150%);
}

.mv-section {
    padding-top: 30px;
    padding-bottom: 30px;
}

.list-group-item {
    position: relative;
    display: block;
    padding: 1rem;
    border: none;

}
ul.custom-list {
   list-style-type: square;
    margin-left: 50px;
}
ol.custom-list {
   list-style-type: decimal;
    margin-left: 50px;
}
h2.custom-size{
    font-size: 24px;
}