{% extends 'base/base.html' %}
{% block main_content %}

    <section class="profile-section">
        <div class="container">
            <div class="row flex-lg-nowrap">
                <div class="col-12 col-lg-auto mb-3" style="width: 250px;">
                    <div class="card p-3">
                        <div class="e-navlist e-navlist--active-bg text-nowrap">
                            <ul class="nav">
                                <li class="nav-item">
                                    <a class="nav-link px-2 active" href="{% url 'profile-details-page' %}"><i
                                            class="fa fa-fw fa-bar-chart mr-1">
                                    </i><span>Overview</span>
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <div class="nav-link px-2">
                                        <i class="fa fa-fw fa-th mr-1"></i>
                                        <span>Testimonials</span>
                                    </div>
                                    <ul>
                                        <a class="nav-link px-2" href="{% url 'testimonial-submission-page' %}">
                                            <li>Submit new</li>
                                        </a>
                                        <a class="nav-link px-2" href="{% url 'testimonials-history-page' %}">
                                            <li>History</li>
                                        </a>
                                    </ul>
                                </li>

                                <li class="nav-item">
                                    <div class="nav-link px-2">
                                        <i class="fa fa-fw fa-cog mr-1"></i>
                                        <span>Settings</span>
                                    </div>
                                    <ul>
                                        <a class="nav-link px-2" href="{% url 'password-change-page' %}">
                                            <li>Change Password</li>
                                        </a>
                                        <a class="nav-link px-2" href="{% url 'email-change-page' %}">
                                            <li>Change Email</li>
                                        </a>
                                    </ul>
                                </li>
                                <a href="{% url 'logout' %}" class="btn btn-block btn-secondary custom-margin">
                                    <i class="fa fa-sign-out"></i>
                                    <span>Logout</span>
                                </a>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col mb-3">
                    <div class="card card-body">
                        <div class="col d-flex flex-column flex-sm-row justify-content-between mb-3">
                            <div class="login-form card-body">
                                <h3 class="card-title text-center">Change email</h3>
                                <form action="{% url 'email-change-page' %}" method="post">
                                    {% csrf_token %}
                                    {% for field in form %}
                                        {% if field.errors %}
                                            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                                <strong>Holy guacamole!</strong> You should check in on some of those
                                                fields
                                                below.
                                                <p>{{ field.errors }}</p>
                                            </div>
                                        {% endif %}
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">{{ field.label }}</label>

                                            <input type="{{ field.field.widget.input_type }}"
                                                   name="{{ field.html_name }}"
                                                   class="form-control form-control-sm {% if field.errors %}is-invalid{% endif %}"
                                                   {% if field.value %}value="{{ field.value }}"{% endif %}
                                                   {% if field.field.required %}required{% endif %}>
                                        </div>
                                    {% endfor %}
                                    <button type="submit" class="btn btn-primary">Confirm</button>
                                </form>
                            </div>
                            <div class="text-center text-sm-right">
                                {% if user.is_staff %}
                                    <span class="badge badge-secondary">Administrator</span>
                                {% elif user.is_superuser %}
                                    <span class="badge badge-secondary">Superuser</span>
                                {% else %}
                                    <span class="badge badge-secondary">{{ user.user_type }}</span>
                                {% endif %}
                                <div class="text-muted">
                                    <small>Joined {{ user.created_at }}</small></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
