{% extends 'base/base.html' %}

{% block main_content %}
    <div class="vh-100 d-flex justify-content-center align-items-center">
        <div class="col-md-4">
            <div class="border border-3 border-success"></div>
            <div class="card  bg-white shadow p-5">
                <div class="mb-4 text-center">
                    <img class="text-success" width="200" height="200"
                         src="https://plus.unsplash.com/premium_photo-1677775978565-8ab75fb77f33?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=880&q=80"
                         alt="">
                    {#                    <svg xmlns="http://www.w3.org/2000/svg" class="text-success" width="75" height="75"#}
                    {#                         fill="currentColor" class="bi bi-check-circle" viewBox="0 0 16 16">#}
                    {#                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>#}
                    {#                        <path d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z"/>#}
                    {#                    </svg>#}
                </div>
                <div class="text-center">
                    <h1>Thank you for contacting us!</h1>
                    <p>We appreciate that you`ve taken the time to write us. We`ll get back to you very soon.</p>
                    <a href="{% url 'homepage' %}" class="btn btn-outline-success">Back Home</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

