{% extends 'base/base.html' %}
{% block main_content %}
    {% include 'base/carousel.html' with carousel_img=campaign.image carousel_alt=campaign.name %}

    <section class="mv-section">
        <div class="container">
            <div class="row">
                <div class="maintitle">
                    <h2 class="wow bounceInDown text-uppercase" data-wow-duration="1s"
                        data-wow-delay="0.1s"
                        style="visibility: visible; animation-duration: 1s; animation-delay: 0.1s; animation-name: bounceInDown;">
                        <strong>{{ campaign.name }}</strong></h2>
                    <hr class="hr hr-blurry"/>
                </div>
                <div class="lead">
                    <h4 class="text-uppercase">Motivation</h4>
                    <p class="text-justify">{{ campaign.motivation }}</p>
                    <h4 class="text-uppercase">Description</h4>
                    <p class="text-justify">{{ campaign.description }}</p>
                    <p>Type: {{ campaign.type }}</p>
                    <p>Website: <a href="{{ campaign.website }}">Click Here</a></p>

                    {% if  campaign.start_datetime|date:"D d M Y" !=  campaign.end_datetime|date:"D d M Y" %}
                        <p>Duration: from {{ campaign.start_datetime|date:"D d M Y" }}
                            to {{ campaign.end_datetime|date:"D d M Y" }}</p>
                    {% else %}
                        <p>Date: {{ campaign.start_datetime|date:"D d M Y" }}</p>
                    {% endif %}
                    <p>Time: from {{ campaign.start_datetime|time:"H:i" }}
                        to {{ campaign.end_datetime|time:"H:i" }} </p>
                    {% if campaign.place %}
                        <p>Place: {{ campaign.place }}</p>
                    {% endif %}

                    {% if request.user.is_authenticated and user.user_type == 'VOLUNTEER' %}
                        {% if campaign.active %}
                            <a href="{% url 'charity-cause-participation' campaign.id %}" class="participate-btn">
                                <button class="btn btn-secondary">Participate</button>
                            </a>
                        {% else %}
                            <button class="btn btn-disabled" type="button" disabled>This campaign has expired!</button>
                        {% endif %}
                    {% else %}
                        <a href="{% url 'login-page' %}" class="participate-btn">
                            <button class="btn btn-secondary">Login for participation</button>
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}




