{% extends 'base/base.html' %}

{% block main_content %}
    <div class="vh-100 d-flex justify-content-center align-items-center">
        <div class="col-md-4">
            <div class="border border-3"></div>
            <div class="card  bg-white shadow p-5">
                <div class="mb-4 text-center">
                    <img class="text-success" width="200" height="150"
                         src="https://images.unsplash.com/photo-1579621970563-ebec7560ff3e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1171&q=80"
                         alt="">
                </div>
                <div class="text-center">
                    <h1>Thank You !</h1>
                    <p>Your support is invaluable, we couldn't do all of this without it!</p>
                    <p>You are part of the change!</p>
                    <p class="text-uppercase">Be blessed!</p>
                    <a href="{% url 'home-page' %}" class="btn btn-secondary btn-outline-light-green">Back Home</a>
                    {% if user.is_authenticated %}
                        <a href="{% url 'profile-details-page' %}" class="btn btn-secondary btn-outline-light-green">Back
                            to Profile</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

