{% extends 'base/base.html' %}

{% block main_content %}

    {% include 'base/partials/carousel.html' with carousel_img=STATIC_URL|add:"images/donation-cause-participation.png" carousel_alt="Donation cover" %}


    <section class="section">
        <div class="container custom-container">
            <div class="row">
                <div class="col-md-12 col-md-offset-3">
                    <div style="padding: 20px;" id="form-olvidado">
                        <form action="{% url 'donation-page' %}" method="post">
                            <h4 class="text-uppercase" style="border-bottom: 1px solid #c5c5c5;">Choose your
                                donation</h4>
                            <div class="form-row">
                                {% for field in value_form %}
                                    <div class="col-md-4 mb-3">
                                        <label for="validationDefault02">* {{ field.label }}</label>
                                        {{ field }}
                                    </div>
                                {% endfor %}
                            </div>

                            <h4 class="text-uppercase" style="border-bottom: 1px solid #c5c5c5;">Enter contact
                                information</h4>
                            <div class="form-row">
                                {% for field in contact_form %}
                                    <div class="col-md-4 mb-3">
                                        <label for="validationDefault02">* {{ field.label }}</label>
                                        {% if field.label == 'Email' %}
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" id="inputGroupPrepend2">@</span>
                                                </div>
                                                {% if field.field.widget.input_type != 'checkbox' and field.field.widget.input_type != 'radio' %}
                                                    <input type="{{ field.field.widget.input_type }}"
                                                           name="{{ field.html_name }}"
                                                           id="id_{{ field.name }}"
                                                           class="form-control {% if field.errors %}is-invalid{% endif %}"
                                                           {% if field.value %}value="{{ field.value }}"{% endif %}
                                                           {% if field.field.required %}required{% endif %}>
                                                {% else %}
                                                    {{ field }}
                                                {% endif %}
                                            </div>
                                        {% else %}
                                            {% if field.field.widget.input_type != 'select' %}
                                                <input type="{{ field.field.widget.input_type }}"
                                                       name="{{ field.html_name }}"
                                                       id="id_{{ field.name }}"
                                                       class="form-control {% if field.errors %}is-invalid{% endif %}"
                                                       {% if field.value %}value="{{ field.value }}"{% endif %}
                                                       {% if field.field.required %}required{% endif %}>
                                            {% else %}
                                                {{ field }}
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                {% endfor %}
                            </div>

                            <h4 class="text-uppercase" style="border-bottom: 1px solid #c5c5c5;">Enter billing
                                information</h4>
                            <div class="form-row">
                                {% for field in billing_form %}
                                    <div class="col-md-4 mb-3">
                                        <label for="validationDefault02">* {{ field.label }}</label>
                                        {% if field.field.widget.input_type != 'select' %}
                                            <input type="{{ field.field.widget.input_type }}"
                                                   name="{{ field.html_name }}"
                                                   id="id_{{ field.name }}"
                                                   class="form-control {% if field.errors %}is-invalid{% endif %}"
                                                   {% if field.value %}value="{{ field.value }}"{% endif %}
                                                   {% if field.field.required %}required{% endif %}>
                                        {% else %}
                                            {{ field }}
                                        {% endif %}
                                    </div>
                                {% endfor %}
                            </div>

                            <h4 class="text-uppercase" style="border-bottom: 1px solid #c5c5c5;">Select payment
                                method</h4>
                            <div class="form-row">
                                {% for field in payment_form %}
                                    <div class="col-md-4 mb-3">
                                        <label for="validationDefault02">* {{ field.label }}</label>
                                        {% if field.field.widget.input_type != 'select' %}
                                            <input type="{{ field.field.widget.input_type }}"
                                                   name="{{ field.html_name }}"
                                                   id="id_{{ field.name }}"
                                                   class="form-control {% if field.errors %}is-invalid{% endif %}"
                                                   {% if field.value %}value="{{ field.value }}"{% endif %}
                                                   {% if field.field.required %}required{% endif %}>
                                        {% else %}
                                            {{ field }}
                                        {% endif %}
                                    </div>
                                {% endfor %}
                            </div>


                            <div class="form-group">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value=""
                                           id="invalidCheck2"
                                           required>
                                    <label class="form-check-label" for="invalidCheck2">
                                        Agree to terms and conditions
                                    </label>
                                </div>
                            </div>
                            <br>
                            <button class="btn btn-primary" type="submit">Submit form</button>

                            {% csrf_token %}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

