{% extends 'base/base.html' %}
{% load user_profile %}
{% load verbose_name %}

{% block main_content %}
    <section class="first-section">
        <div class="container">
            <div class="row flex-lg-nowrap">

                <div class="col-12 col-lg-auto mb-3" style="width: 200px;">
                    <div class="card p-3">
                        <div class="e-navlist e-navlist--active-bg">
                            <ul class="nav">
                                <li class="nav-item"><a class="nav-link px-2 active" href="#"><i
                                        class="fa fa-fw fa-bar-chart mr-1"></i><span>Overview</span></a></li>
                                <li class="nav-item"><a class="nav-link px-2"
                                                        href="https://www.bootdey.com/snippets/view/bs4-crud-users"
                                                        target="__blank"><i
                                        class="fa fa-fw fa-th mr-1"></i><span>CRUD</span></a></li>
                                <li class="nav-item"><a class="nav-link px-2"
                                                        href="{% url 'security-settings-page' %}"
                                                        target="__blank"><i
                                        class="fa fa-fw fa-cog mr-1"></i><span>Settings</span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="row">
                        <div class="col mb-3">
                            <div class="card">
                                <div class="card-body">
                                    <div class="e-profile">
                                        <form action="{% url 'profile-edit-page' %}"
                                              method="post">
                                            {% csrf_token %}
                                            <div class="col d-flex flex-column flex-sm-row justify-content-between mb-3">
                                                <div class="col-12 col-sm-auto mb-3">
                                                    <div class="mx-auto" style="width: 140px;">
                                                        <div class="d-flex justify-content-center align-items-center rounded"
                                                             style="height: 140px; background-color: rgb(233, 236, 239);">

                                                            <span style="color: rgb(166, 168, 170); font: bold 8pt Arial;">150x150</span>
                                                        </div>
                                                    </div>
                                                </div>


                                                <div class="text-center text-sm-left mb-2 mb-sm-0">
                                                    {% for field in form %}
                                                        {% if object.user.user_type == 'SPONSOR' and field.name == 'company_name' %}
                                                            <input class="form-control {% if field.errors %}is-invalid{% endif %}"
                                                                   type="{{ field.field.widget.input_type }}"
                                                                   name="{{ field.html_name }}"
                                                                   {% if not field.value %}placeholder="Enter your {{ field.label.lower }}"{% endif %}
                                                                   {% if field.value %}value="{{ field.value }}"{% endif %}
                                                                   {% if field.field.required %}required{% endif %}>
                                                        {% elif object.user.user_type == 'VOLUNTEER' or object.user.user_type == 'MEMBER' %}
                                                            {% if field.name == 'first_name' or field.name == 'last_name' %}
                                                                <label>{{ field.label }}</label>
                                                                <input class="form-control {% if field.errors %}is-invalid{% endif %}"
                                                                       type="{{ field.field.widget.input_type }}"
                                                                       name="{{ field.html_name }}"
                                                                       {% if not field.value %}placeholder="Enter your {{ field.label.lower }}"{% endif %}
                                                                       {% if field.value %}value="{{ field.value }}"{% endif %}
                                                                       {% if field.field.required %}required{% endif %}>
                                                            {% endif %}
                                                        {% endif %}
                                                    {% endfor %}
                                                    <p class="mb-0">{{ object.user }}</p>
                                                    <div class="mt-2">
                                                        <button id="change-photo-btn" class="btn btn-primary"
                                                                type="button">
                                                            <i class="fa fa-fw fa-camera"></i>
                                                            <span>Change Photo</span>
                                                        </button>
                                                        <input type="file" id="photo-input" style="display: none;">
                                                    </div>
                                                </div>

                                                <div class="text-center text-sm-right">
                                                    {% if user_type == 'MEMBER' and user.is_staff %}
                                                        <span class="badge badge-secondary">Administrator</span>
                                                    {% elif user_type == 'MEMBER' and user.is_superuser %}
                                                        <span class="badge badge-secondary">Superuser</span>
                                                    {% else %}
                                                        <span class="badge badge-secondary">{{ user_type }}</span>
                                                    {% endif %}
                                                </div>
                                            </div>
                                            <ul class="nav nav-tabs">
                                                <li class="nav-item"><a href="" class="active nav-link">Profile Info</a>
                                                </li>
                                            </ul>
                                            <div class="tab-content pt-3">
                                                <div class="tab-pane active">
                                                    <div class="row">
                                                        <div class="col">
                                                            <div class="form-group">

                                                                {% for field in form %}
                                                                    {% if field.name != 'profile_picture' and field.name != 'first_name' and field.name != 'last_name' %}
                                                                        <label>{{ field.label }}</label>
                                                                        {% if field.name == 'bio' or field.name == 'strengths' %}
                                                                            <textarea
                                                                                    class="form-control {% if field.errors %}is-invalid{% endif %}"
                                                                                    name="{{ field.html_name }}"
                                                                                    {% if field.field.required %}required{% endif %}
                                                                                    cols="80"
                                                                                    rows="5">{{ field.value }}</textarea>
                                                                        {% elif field.name == 'gender' or field.name == 'role' or field.name == 'interests' %}
                                                                            <select class="form-control {% if field.errors %}is-invalid{% endif %}"
                                                                                    name="{{ field.html_name }}">
                                                                                {% for value, label in field.field.choices %}
                                                                                    <option value="{{ value }}"
                                                                                            {% if value == field.value %}selected{% endif %}>{{ label }}</option>
                                                                                {% endfor %}
                                                                            </select>
                                                                        {% else %}
                                                                            <input class="form-control {% if field.errors %}is-invalid{% endif %}"
                                                                                   type="{{ field.field.widget.input_type }}"
                                                                                   name="{{ field.html_name }}"
                                                                                   {% if not field.value %}placeholder="Enter your {{ field.label.lower }}"{% endif %}
                                                                                   {% if field.value %}value="{{ field.value }}"{% endif %}
                                                                                   {% if field.field.required %}required{% endif %}>
                                                                        {% endif %}
                                                                    {% endif %}
                                                                {% endfor %}

                                                                <div class="row">
                                                                    <div class="col d-flex justify-content-end">
                                                                        <button class="btn btn-primary"
                                                                                type="submit">Save Changes
                                                                        </button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script>
        document.getElementById('change-photo-btn').addEventListener('click', function () {
            document.getElementById('photo-input').click();
        });

        document.getElementById('photo-input').addEventListener('change', function () {
            // Perform any additional actions, e.g., display the selected file name
            var selectedFile = this.files[0];
            console.log(selectedFile.name);
        });
    </script>
{% endblock %}

