{% extends 'base/base.html' %}
{% load user_profile %}
{% load verbose_name %}

{% block main_content %}

    <section class="profile-section">
        <div class="container">
            <div class="row flex-lg-nowrap">

                <div class="col-12 col-lg-auto mb-3" style="width: 250px;">
                    <div class="card p-3">
                        <div class="e-navlist e-navlist--active-bg text-nowrap">
                            <ul class="nav">
                                <li class="nav-item">
                                    <a class="nav-link px-2 active" href="#"><i class="fa fa-fw fa-bar-chart mr-1">
                                    </i><span>Overview</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <div class="nav-link px-2">
                                        <i class="fa fa-fw fa-th mr-1"></i>
                                        <span>Testimonials</span>
                                    </div>
                                    <ul>
                                        <a class="nav-link px-2" href="{% url 'testimonial-submission-page' %}">
                                            <li>Submit new</li>
                                        </a>
                                        <a class="nav-link px-2" href="{% url 'testimonials-history-page' %}">
                                            <li>History</li>
                                        </a>
                                    </ul>
                                </li>

                                <li class="nav-item">
                                    <div class="nav-link px-2">
                                        <i class="fa fa-fw fa-cog mr-1"></i>
                                        <span>Settings</span>
                                    </div>
                                    <ul>
                                        <a class="nav-link px-2" href="{% url 'password-change-page' %}">
                                            <li>Change Password</li>
                                        </a>
                                        <a class="nav-link px-2" href="{% url 'email-change-page' %}">
                                            <li>Change Email</li>
                                        </a>
                                    </ul>
                                </li>
                                <a href="{% url 'logout' %}" class="btn btn-block btn-secondary custom-margin">
                                    <i class="fa fa-sign-out"></i>
                                    <span>Logout</span>
                                </a>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="row">
                        <div class="col mb-3">
                            <div class="card profile-card">
                                <div class="card-body">
                                    <div class="e-profile">
                                        <div class="row">
                                            <div class="col d-flex flex-column flex-sm-row justify-content-between mb-3">
                                                <div>
                                                    {% if object.user.user_type == 'SPONSOR' %}
                                                        <img width="200px" height="200px" src="{{ object.logo }}"
                                                             style="object-fit: cover"
                                                             alt="">
                                                    {% else %}
                                                        <img width="200px" height="200px"
                                                             src="{{ object.profile_picture }}"
                                                             style="object-fit: cover"
                                                             alt="">
                                                    {% endif %}
                                                </div>

                                                <div class="text-center text-sm-left mb-2 mb-sm-0">
                                                    {% if object.user.user_type == 'SPONSOR' %}
                                                        <h2 class="pt-sm-2 pb-1 mb-3 text-nowrap text-center text-uppercase">{{ object.company_name }}</h2>
                                                    {% else %}
                                                        <h3 class="pt-sm-2 pb-1 mb-3 text-nowrap text-center text-uppercase">{{ object.full_name }}</h3>
                                                    {% endif %}
                                                    <p class="mb-0">{{ object.user }}</p>
                                                    <p class="text-muted"><small>Last seen
                                                        on {{ object.user.last_login }}</small></p>
                                                </div>

                                                <div class="text-center text-sm-right">
                                                    {% if object.user.is_staff %}
                                                        <span class="badge badge-secondary">Administrator</span>
                                                    {% elif object.user.is_superuser %}
                                                        <span class="badge badge-secondary">Superuser</span>
                                                    {% else %}
                                                        <span class="badge badge-secondary">{{ object.user.user_type }}</span>
                                                    {% endif %}
                                                    <div class="text-muted">
                                                        <small>Joined {{ object.user.created_at }}</small></div>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="tab-content pt-3">
                                            <div class="tab-pane active">
                                                <form class="form" novalidate="">
                                                    <div class="row">
                                                        <div class="col">
                                                            {% for field in fields %}
                                                                {% if object|verbose_name_from_object:field == 'Website' %}
                                                                    <div class="form-group">
                                                                        <label><strong>{{ object|verbose_name_from_object:field }}:</strong></label>
                                                                        <a href="{{ object|get_attribute:field }}">Click
                                                                            here</a>
                                                                        {#                                                                        <p></p>#}
                                                                    </div>
                                                                {% else %}
                                                                    <div class="form-group">
                                                                        <label><strong>{{ object|verbose_name_from_object:field }}:</strong></label>
                                                                        <p>{{ object|get_attribute:field }}</p>
                                                                    </div>
                                                                {% endif %}
                                                            {% endfor %}

                                                            {% if object.charity_history.all %}
                                                                <label><strong>Charity history:</strong></label>
                                                                <ul>
                                                                    {% for campaign in object.charity_history.all %}
                                                                        <a href="{% url 'charity-cause-details-page' campaign.pk %}">
                                                                            <li>{{ campaign.name }}</li>
                                                                        </a>
                                                                    {% endfor %}
                                                                </ul>
                                                            {% elif object.donation_history.all %}
                                                                <label><strong>Donation history:</strong></label>
                                                                <ul>
                                                                    {% for campaign in object.donation_history.all %}
                                                                        <a href="{% url 'donation-cause-details-page' campaign.pk %}">
                                                                            <li>{{ campaign.title }}</li>
                                                                        </a>
                                                                    {% endfor %}
                                                                </ul>
                                                            {% elif user.articles.all %}
                                                                <label><strong>Written articles:</strong></label>
                                                                <ul>
                                                                    {% for article in user.articles.all %}
                                                                        <a href="{% url 'article-details' article.pk %}">
                                                                            <li>{{ article.title }}- {{ article.subtitle }}</li>
                                                                        </a>
                                                                    {% endfor %}
                                                                </ul>
                                                            {% else %}
                                                                {% if object.user.user_type == 'SPONSOR' %}
                                                                    <label><strong>Donation
                                                                        history:</strong></label>
                                                                {% elif object.user.user_type == 'MEMBER' %}
                                                                    <label><strong>Written articles
                                                                        history:</strong></label>
                                                                {% else %}
                                                                    <label><strong>Participation
                                                                        history:</strong></label>
                                                                {% endif %}
                                                                <p>No history available</p>
                                                            {% endif %}
                                                            {% if object.user.user_type == 'SPONSOR' %}
                                                                <label><strong>Total donation amount:</strong></label>
                                                                <p> {{ object.total_donation_amount }} BGN</p>
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                    <div class="row">

                                                        <div class="col d-flex justify-content-end ">
                                                            {% if user.user_type == 'VOLUNTEER' %}
                                                                <a href="{% url 'charity-causes-page' %}"
                                                                   class="btn btn-block btn-secondary">
                                                                    <span> Find Charity Causes</span>
                                                                </a>
                                                            {% elif user.user_type == 'SPONSOR' %}
                                                                <a href="{% url 'donation-causes-page' %}"
                                                                   class="btn btn-block btn-secondary">
                                                                    <span> Find Donation Causes</span>
                                                                </a>
                                                            {% elif user.user_type == "MEMBER" %}
                                                                <a href="{% url 'act-green-blog-page' %}"
                                                                   class="btn btn-block btn-secondary">
                                                                    <span> Find Act Green Causes</span>
                                                                </a>
                                                            {% endif %}
                                                        </div>

                                                        <div class="col justify-content-end ">
                                                            <a href="{% url 'profile-edit-page' %}"
                                                               class="btn btn-block btn-secondary">
                                                                <i class="fa-solid fa-pencil"></i>
                                                                <span> Edit</span>
                                                            </a>
                                                            <button id="delete-profile-btn" class="btn btn-danger">
                                                                Delete
                                                            </button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script>
        document.getElementById('delete-profile-btn').addEventListener('click', function () {
            if (confirm('Are you sure you want to delete your profile?')) {
                // If the user confirms, make an AJAX request to delete the profile
                fetch('{% url "profile-delete" %}', {
                    method: 'POST',
                    headers: {
                        'X-CSRFToken': '{{ csrf_token }}', // Add CSRF token for security
                    },
                })
                    .then(response => {
                        if (response.ok) {
                            // Profile deleted successfully, redirect to home page
                            alert('Profile deleted successfully.');
                            window.location.href = '{% url "home-page" %}';
                        } else if (response.status === 403) {
                            // User is not authorized to delete profile (error message from server)
                            return response.json().then(data => {
                                alert(data.message);
                            });
                        } else {
                            // Handle other errors, show a message, etc.
                            alert('Error deleting profile.');
                        }
                    })
                    .catch(error => {
                        console.error('Error:', error);
                    });
            }
        });

    </script>

    {#    <script>#}
    {#        document.addEventListener('DOMContentLoaded', () => {#}
    {#            const deleteButtons = document.querySelectorAll('.delete-btn');#}
    {#            const confirmationDialog = document.getElementById('confirmation-dialog');#}
    {#            const confirmDeleteBtn = confirmationDialog.querySelector('#confirm-delete-btn');#}
    {#            const cancelDeleteBtn = confirmationDialog.querySelector('#cancel-delete-btn');#}
    {##}
    {#            function deleteTestimonial(testimonialId) {#}
    {#                const deleteUrl = `/testimonial/delete/${testimonialId}/`;#}
    {##}
    {#                fetch(deleteUrl, {#}
    {#                    method: 'POST',#}
    {#                    headers: {#}
    {#                        'X-CSRFToken': '{{ csrf_token }}',#}
    {#                    },#}
    {#                })#}
    {#                    .then(response => {#}
    {#                        if (response.ok) {#}
    {#                            // Testimonial deleted successfully, reload the page#}
    {#                            alert('Testimonial deleted successfully.');#}
    {#                            window.location.reload();#}
    {#                        } else if (response.status === 403) {#}
    {#                            // User is not authorized to delete testimonial (error message from server)#}
    {#                            return response.json().then(data => {#}
    {#                                alert(data.message);#}
    {#                            });#}
    {#                        } else {#}
    {#                            // Handle other errors, show a message, etc.#}
    {#                            alert('Error deleting testimonial.');#}
    {#                        }#}
    {#                    })#}
    {#                    .catch(error => {#}
    {#                        console.error('Error:', error);#}
    {#                    });#}
    {#            }#}
    {##}
    {#            deleteButtons.forEach(deleteButton => {#}
    {#                deleteButton.addEventListener('click', event => {#}
    {#                    event.preventDefault(); // Prevent the default behavior of the button click#}
    {##}
    {#                    const testimonialId = deleteButton.getAttribute('data-testimonial-id');#}
    {#                    const testimonialQuote = deleteButton.getAttribute('data-testimonial-quote');#}
    {##}
    {#                    // Show the confirmation dialog#}
    {#                    confirmationDialog.classList.remove('hidden');#}
    {##}
    {#                    confirmDeleteBtn.addEventListener('click', () => {#}
    {#                        deleteTestimonial(testimonialId);#}
    {#                    });#}
    {##}
    {#                    cancelDeleteBtn.addEventListener('click', () => {#}
    {#                        // Hide the confirmation dialog#}
    {#                        confirmationDialog.classList.add('hidden');#}
    {#                    });#}
    {#                });#}
    {#            });#}
    {#        });#}
    {#    </script>#}

{% endblock %}