{% extends 'base/base.html' %}
{% load static %}
{% load user_profile %}
{% load verbose_name %}

{% block main_content %}


    <section class="profile-section">
        <div class="container">
            <div class="row flex-lg-nowrap">

                <div class="col-12 col-lg-auto mb-3" style="width: 200px;">
                    <div class="card p-3">
                        <div class="e-navlist e-navlist--active-bg">
                            <ul class="nav">
                                <li class="nav-item"><a class="nav-link px-2 active" href="{% url 'profile-details-page' %}"><i
                                        class="fa fa-fw fa-bar-chart mr-1"></i><span>Overview</span></a></li>
                                <li class="nav-item"><a class="nav-link px-2"
                                                        href="{% url 'testimonial-submission-page' %}"
                                                        target="__blank"><i
                                        class="fa fa-fw fa-th mr-1"></i><span>Submit Testimonial</span></a></li>
                                <li class="nav-item">
                                    <div class="nav-link px-2">
                                        <i class="fa fa-fw fa-cog mr-1"></i>
                                        <span>Settings</span>
                                    </div>
                                    <ul>
                                        <a class="nav-link px-2" href="{% url 'password-change-page' %}">
                                            <li>Change Password</li>
                                        </a>
                                        <a class="nav-link px-2" href="">
                                            <li>Change Email</li>
                                        </a>
                                    </ul>
                                </li>
                                <a href="{% url 'logout' %}" class="btn btn-block btn-secondary custom-margin">
                                    <i class="fa fa-sign-out"></i>
                                    <span>Logout</span>
                                </a>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="row">
                        <div class="col mb-3">
                            <div class="card profile-card">
                                <div class="card-body">
                                    <div class="e-profile">
                                        <form action="{% url 'profile-edit-page' %}" enctype="multipart/form-data" method="post">
                                            {% csrf_token %}
                                            <div class="col d-flex flex-column flex-sm-row justify-content-between mb-3">
                                                <div>
                                                    {% if object.user.user_type == 'SPONSOR' %}
                                                        <img width="200px" height="200px" src="{{ object.logo }}"
                                                             style="object-fit: cover"
                                                             alt="">
                                                    {% elif object.user.user_type == 'MEMBER' or object.user.user_type == 'VOLUNTEER' %}
                                                        <img width="200px" height="200px"
                                                             src="{{ object.profile_picture }}"
                                                             style="object-fit: cover"
                                                             alt="">
                                                    {% endif %}
{#                                                    {% for field in form %}#}
{#                                                        {% if field.name == "profile_picture" %}#}
{#                                                            <div class="form-group">#}
{#                                                                <label for="{{ field.id_for_label }}">{{ field.label }}</label>#}
{#                                                                {{ field }}#}
{#                                                            </div>#}
{#                                                        {% elif field.name == "logo" %}#}
{#                                                            <div class="form-group">#}
{#                                                                <label for="{{ field.id_for_label }}">{{ field.label }}</label>#}
{#                                                                {{ field }}#}
{#                                                            </div>#}
{#                                                        {% endif %}#}
{#                                                    {% endfor %}#}

{#                                                    <div class="mt-2">#}
                                                        {#                                                        <a href="{% url 'change-photo' object.pk %}">#}
                                                        {#                                                            <button id="change-photo-btn" class="btn btn-primary"#}
                                                        {#                                                                    type="button">#}
                                                        {#                                                                <i class="fa fa-fw fa-camera"></i>#}
                                                        {#                                                                <span>Change Photo</span>#}
                                                        {#                                                            </button>#}
                                                        {#                                                        </a>#}
{#                                                    </div>#}
                                                </div>

                                                <div class="text-center text-sm-left mb-2 mb-sm-0">
                                                    {% for field in form %}
                                                        {% if object.user.user_type == 'SPONSOR' and field.name == 'company_name' %}
                                                            <label>{{ field.label }}</label>
                                                            <input class="form-control {% if field.errors %}is-invalid{% endif %}"
                                                                   type="{{ field.field.widget.input_type }}"
                                                                   name="{{ field.html_name }}"
                                                                   {% if not field.value %}placeholder="Enter your {{ field.label.lower }}"{% endif %}
                                                                   {% if field.value %}value="{{ field.value }}"{% endif %}
                                                                   {% if field.field.required %}required{% endif %}>
                                                        {% elif object.user.user_type == 'VOLUNTEER' or object.user.user_type == 'MEMBER' %}
                                                            {% if field.name == 'first_name' or field.name == 'last_name' %}
                                                                <label>{{ field.label }}</label>
                                                                <input class="form-control {% if field.errors %}is-invalid{% endif %}"
                                                                       type="{{ field.field.widget.input_type }}"
                                                                       name="{{ field.html_name }}"
                                                                       {% if not field.value %}placeholder="Enter your {{ field.label.lower }}"{% endif %}
                                                                       {% if field.value %}value="{{ field.value }}"{% endif %}
                                                                       {% if field.field.required %}required{% endif %}>
                                                            {% endif %}
                                                        {% endif %}
                                                    {% endfor %}
                                                    <p class="mb-0">{{ object.user }}</p>
                                                </div>

                                                <div class="text-center text-sm-right">
                                                    {% if user_type == 'MEMBER' and user.is_staff %}
                                                        <span class="badge badge-secondary">Administrator</span>
                                                    {% elif user_type == 'MEMBER' and user.is_superuser %}
                                                        <span class="badge badge-secondary">Superuser</span>
                                                    {% else %}
                                                        <span class="badge badge-secondary">{{ user_type }}</span>
                                                    {% endif %}
                                                </div>
                                            </div>
                                            <ul class="nav nav-tabs">
                                                <li class="nav-item"><a href="" class="active nav-link">Profile Info</a>
                                                </li>
                                            </ul>
                                            <div class="tab-content pt-3">
                                                <div class="tab-pane active">
                                                    <div class="row">
                                                        <div class="col">
                                                            <div class="form-group">

                                                                {% for field in form %}
                                                                    {% if field.name != 'profile_picture' and field.name != 'first_name' and field.name != 'last_name' and field.name != 'company_name' and field.name != 'logo'%}
                                                                        <label>{{ field.label }}</label>
                                                                        {% if field.name == 'bio' or field.name == 'strengths' %}
                                                                            <textarea
                                                                                    class="form-control {% if field.errors %}is-invalid{% endif %}"
                                                                                    name="{{ field.html_name }}"
                                                                                    {% if field.field.required %}required{% endif %}
                                                                                    cols="80"
                                                                                    rows="5">{{ field.value }}</textarea>
                                                                        {% elif field.name == 'gender' or field.name == 'role' or field.name == 'interests' %}
                                                                            <select class="form-control {% if field.errors %}is-invalid{% endif %}"
                                                                                    name="{{ field.html_name }}">
                                                                                {% for value, label in field.field.choices %}
                                                                                    <option value="{{ value }}"
                                                                                            {% if value == field.value %}selected{% endif %}>{{ label }}</option>
                                                                                {% endfor %}
                                                                            </select>
                                                                        {% else %}
                                                                            <input class="form-control {% if field.errors %}is-invalid{% endif %}"
                                                                                   type="{{ field.field.widget.input_type }}"
                                                                                   name="{{ field.html_name }}"
                                                                                   {% if not field.value %}placeholder="Enter your {{ field.label.lower }}"{% endif %}
                                                                                   {% if field.value %}value="{{ field.value }}"{% endif %}
                                                                                   {% if field.field.required %}required{% endif %}>
                                                                        {% endif %}
                                                                    {% endif %}
                                                                {% endfor %}

                                                                <div class="row">
                                                                    <div class="col d-flex justify-content-end">
                                                                        <button class="btn btn-primary"
                                                                                type="submit">Save Changes
                                                                        </button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}

