{% extends 'base/base.html' %}

{% block main_content %}

    {% include 'base/partials/carousel.html' with carousel_title="Share your" carousel_subtitle="Testimonial" carousel_img="https://plus.unsplash.com/premium_photo-1681488060968-ee7b2f6d8751?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1083&q=80" carousel_alt="Testimonial cover" %}

    <section class="mv-section">
        <div class="container">
            <div class="row">
                <div class="maintitle">
                    <h2 class="wow bounceInDown text-uppercase" data-wow-duration="1s"
                        data-wow-delay="0.1s"
                        style="visibility: visible; animation-duration: 1s; animation-delay: 0.1s; animation-name: bounceInDown;">
                        <span class="lighter">Your Voice</span><strong> Matters: Share </strong><span class="lighter">Your Story with Us</span>
                    </h2>
                    <hr class="hr hr-blurry"/>
                </div>
                <div class="card border-0">
                    <div class="text-center">
                        <p class="text-justify lead">
                            At Club for Future, we believe in the power of authentic voices and meaningful experiences.
                            We invite you to be a part of our journey by sharing your valuable testimonial with us.
                        <p class="text-justify lead">
                            Whether you've directly benefited from our charity campaigns, experienced the impact of our
                            initiatives, or witnessed the positive change we strive to make, we want to hear from you.
                            Your story can inspire others, shed light on the importance of giving back, and encourage a
                            chain of kindness that ripples through our community.
                        </p>
                        <p class="text-justify lead">
                            Your words have the potential to create a lasting impact, from motivating someone to
                            contribute to a cause they care about to sparking hope in the hearts of those in need. We're
                            here to listen and understand your unique perspective.
                        </p>
                        <p class="text-justify lead">
                            Please take a moment to fill out the form below and let us know about your experience with
                            Club for Future. We welcome all stories, big or small, and we're grateful for your
                            willingness to share your thoughts with us.
                        </p>
                        <h3>
                            Thank you for being a part of our journey.
                        </h3>
                        <h3>Together, we can continue to make a positive difference in the lives of those we touch.</h3>
                        <h3>Share your voice today and inspire change!</h3>

                        </p>
                    </div>
                </div>

                <div class="row justify-content-center">
                    <div class="col-xl-8 custom-row">
                        <form action="{% url 'testimonial-submission-page' %}" id="contact" name="contact" method="post"
                              class="text-left">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <input id="submit" type="submit" name="submit" value="Send"/>
                        </form>
                    </div>
                </div>

                {#                            {% for field in form %}#}
                {#                                {% if field.errors %}#}
                {#                                    {% for error in field.errors %}#}
                {#                                        {{ error }}#}
                {#                                    {% endfor %}#}
                {#                                {% endif %}#}
                {#                                <label>{{ field.label }}</label>#}
                {#                                {% if field.field.widget.input_type == 'checkbox' %}#}
                {#                                    <input type="checkbox">#}
                {#                                {% elif field.name == 'quote' %}#}
                {#                                    {{ field }}#}
                {#                                {% endif %}#}
                {#                            {% endfor %}#}


            </div>
        </div>
    </section>

{% endblock %}