{% extends 'base/base.html' %}

{% block main_content %}
    <div class="vh-100 d-flex justify-content-center align-items-center">
        <div class="col-md-4">
            <div class="border border-3 border-success"></div>
            <div class="card  bg-white shadow p-5">
                <div class="mb-4 text-center">
                    <img class="text-success" width="200" height="200"
                         src="https://plus.unsplash.com/premium_photo-1677775978565-8ab75fb77f33?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=880&q=80"
                         alt="">
                </div>
                <div class="text-center">
                    <h1>Thank you for contacting us!</h1>
                    <p>We appreciate that you`ve taken the time to write us. We`ll get back to you very soon.</p>
                    <a href="{% url 'home-page' %}" class="btn btn-outline-success">Back Home</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

