{% extends 'base/base.html' %}
{% block main_content %}
    <section class="first-section">
        <div class="container col-md-3">
            <div class="card login-form">
                <div class="card-body">
                    <h3 class="card-title text-center">Change password</h3>

                    <div class="card-text">
                        <form action="{% url 'password-change-page' %}" method="post">
                        {% csrf_token %}
                            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                <strong>Holy guacamole!</strong> You should check in on some of those fields below.
                                <a class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </a>
                            </div>
{#                            {{ form.as_p }}#}
                            {% for field in form %}
                                <div class="form-group">
                                    <label for="exampleInputEmail1">{{ field.label }}</label>

                                    <input type="{{ field.field.widget.input_type }}"
                                                           name="{{ field.html_name }}"
                                                           class="form-control form-control-sm {% if field.errors %}is-invalid{% endif %}"
                                                           {% if field.value %}value="{{ field.value }}"{% endif %}
                                                           {% if field.field.required %}required{% endif %}>

{#                                    <input type="{{ field.widget.input_type }}" name="{{ field.html_name }}" class="form-control form-control-sm">#}
                                </div>
                            {% endfor %}
                            <button type="submit" class="btn btn-primary btn-block submit-btn">Confirm</button>
                        </form>
                    </div>

                </div>
            </div>
        </div>

    </section>

{% endblock %}
