{% extends 'base/base.html' %}
{% block main_content %}
    <section class="first-section">
        <div class="container col-md-3">
            <div class="card login-form">
                <div class="card-body">
                    <h3 class="card-title text-center">Change password</h3>

                    <div class="card-text">
                       <h3>You have successfully changed your password!</h3>
                       <p>You can now sign in with your new password.</p>
                    </div>

                </div>
            </div>
        </div>

    </section>

{% endblock %}
