{% extends 'base/base.html' %}
{% block main_content %}
    {% include 'base/carousel.html' with carousel_img=article.featured_image carousel_alt=article.title %}

    <section class="mv-section">
        <div class="container">
            <div class="row">
                <div class="maintitle">
                    <h2 class="wow bounceInDown text-uppercase" data-wow-duration="1s"
                        data-wow-delay="0.1s"
                        style="visibility: visible; animation-duration: 1s; animation-delay: 0.1s; animation-name: bounceInDown;">
                        <strong>{{ article.title }} </strong><span class="lighter">- {{ article.subtitle }}</span></h2>
                    <hr class="hr hr-blurry"/>
                </div>
                <div class="lead">
                    <h4 class="text-uppercase">Act green with these ideas</h4>
                    <p>{{ article.introduction }}</p>
                    <p>{{ article.content }}</p>

                    <p>Author: {{ article.author }}</p>
                    <p>Data: {{ article.created_at }}</p>

                    {% if request.user.is_authenticated and user == article.author %}
                        <a href="{% url 'edit-article' article.pk %}"
                           class="btn btn-block btn-secondary">
                            <i class="fa-solid fa-pencil"></i>
                            <span> Edit</span>
                        </a>
                        <a href="{% url 'delete-article' article.pk %}">
                            <button id="delete-profile-btn" class="btn btn-danger">
                                Delete
                            </button>
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}




