{% extends 'base/base.html' %}
{% block main_content %}
    <section id="mission" class="section first-section">
        <div class="container custom-container">
            <div class="row">
                <h2><span class="lighter">CAPS FOR FUTURE</span> CAMPAIGNS</h2>
                <p class="lead text-justify">
                    The values of Club for Future are its core. Without them, there is no way to successfully
                    carry out the goals of the club. Get to know the values of "Club for the Future":
                </p>

                <div class="card-group">
                    <div class="card">
                        <img class="card-img-top" src="..." alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                                additional content. This content is a little bit longer.</p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">Last updated 3 mins ago</small>
                        </div>
                    </div>
                    <div class="card">
                        <img class="card-img-top" src="..." alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">This card has supporting text below as a natural lead-in to additional
                                content.</p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">Last updated 3 mins ago</small>
                        </div>
                    </div>
                    <div class="card">
                        <img class="card-img-top" src="..." alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                                additional content. This card has even longer content than the first to show that equal
                                height action.</p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">Last updated 3 mins ago</small>
                        </div>
                    </div>
                </div>


                <ul>
                    <h2>What can we collect?</h2>
                    <li>
                        CAPS, RINGS AND HANDLES of beverage bottles:
                        · Plastic bottles of mineral water
                        · Plastic beer bottles
                        · Plastic bottles of soft drinks
                        · Plastic milk bottles
                        · Plastic juice bottles
                    </li>
                    <li>CAPS AND DISPENSERS of plastic cartons of milk and juice</li>
                    <li>LIDS (WHICH BEND) of jars suitable for food and drink storage
                        They are collected separately from the caps, collected ONLY in Sofia and Kyustendil
                    </li>
                    <li>LIDS and/or BOXES of ice cream and other food products
                        IF THEY ARE NUMBER 2 or 5
                        They are collected separately from the caps, collected ONLY in Sofia and Kyustendil
                    </li>
                    <li> SPOONS (WHICH BEND) of infant formula</li>
                    <li>CAPS of bottles of laundry, washing and cosmetic products:
                        · Bottles of bath cosmetics
                        · Bottles of detergents
                        · Bottles of cleaning agents
                        · Bottles with detergents
                    </li>
                    <li>BOTTLES of washing, washing and cosmetic products:
                        · Bottles of bath cosmetics
                        · Bottles of detergents
                        · Bottles of cleaning agents
                        · Bottles with detergents
                    </li>
                    <li>IF THEY ARE NUMBER 2 or 5
                        They are collected separately from the caps, collected ONLY in Sofia and Kyustendil
                        It is important to remove dispensers with metal parts!
                        Metal parts damage the machines of the recyclers we work with!
                    </li>
                </ul>
                <ul>
                    <h2>What should we collect the caps in?</h2>
                    <li>You can collect the caps in whatever you see fit.
                        But during the campaigns, you would make it a lot easier for us if you carry your caps in thick
                        garbage bags or burlap sacks. What do we do with them after that? Our volunteers reuse them when
                        emptying the hearts of the Campaign.
                        The use of cartons and paper bags creates problems as they tear easily and the caps are
                        scattered in trucks and on job sites, especially when the weather is wet or raining. We also
                        generate a lot of recyclable trash that we usually have nowhere to dispose of.
                        Sending caps in thin plastic bags and bags also complicates the process, as they tear easily and
                        the caps are scattered in trucks and on job sites.
                        Most of you think that the easiest way to convey the caps is in large bottles. This is not a
                        problem in most cases, but a large number of recyclers want clean raw material, which
                        necessitates the cutting of bottles by campaign volunteers and pouring the caps into big bags.
                        The problems that arise when the caps are collected in large bottles are:
                        · during cutting, the caps are scattered on the work areas
                        · a huge amount of plastic is collected, which we currently do not collect (except in Sofia and
                        Plovdiv)
                        · it is necessary to look for yellow bins for recycling
                        · additional volunteers are needed to cut
                        So we will be grateful if you make our work easier!
                    </li>
                </ul>
                <ul>
                    <h2>What do we not collect!</h2>
                    <li> We have written a lot about this topic, but every campaign has surprises. Sometimes people are
                        very creative and in their desire to help us make our work many times more difficult.
                        It is easiest to collect only what is described above.
                        Please do not collect together with the caps:
                        · metal caps
                        · batteries
                        · any small and large plastic objects
                        · dirty dishes from food
                        · needles and syringes
                        · food
                        · and other
                        This way you protect not only the machines of the recyclers, but also the health of the
                        volunteers. This allows us to do the important stuff (like collecting and loading the caps)
                        during the campaigns!
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <section id="mission" class="section first-section">
        <div class="container custom-container">
            <div class="row">
                <h2><span class="lighter">RECYCLING FOR FUTURE</span> CAMPAIGNS</h2>
                <p class="lead text-justify">
                    The values of Club for Future are its core. Without them, there is no way to successfully
                    carry out the goals of the club. Get to know the values of "Club for the Future":
                </p>

                <div class="card-deck">
                    <div class="card">
                        <img class="card-img-top" src="..." alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">RECYCLING FOR FUTURE VOL.001</h5>
                            <div><i>Date: 14-05-2023</i></div>
                            <div><i>Hours: 10:000-14:00</i></div>
                            <div><i>Place: Kaufland</i></div>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                                additional content. This content is a little bit longer.</p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">Comming up</small>
                        </div>
                    </div>
                    <div class="card">
                        <img class="card-img-top" src="..." alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">RECYCLING FOR FUTURE VOL.001</h5>
                            <p class="card-text">This card has supporting text below as a natural lead-in to additional
                                content.</p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">Finished</small>
                        </div>
                    </div>
                    <div class="card">
                        <img class="card-img-top" src="..." alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">RECYCLING FOR FUTURE VOL.001</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                                additional content. This card has even longer content than the first to show that equal
                                height action.</p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">Finished</small>
                        </div>
                    </div>
                </div>


                <ul>
                    <h2>What can we collect?</h2>
                    <li>
                        CAPS, RINGS AND HANDLES of beverage bottles:
                        · Plastic bottles of mineral water
                        · Plastic beer bottles
                        · Plastic bottles of soft drinks
                        · Plastic milk bottles
                        · Plastic juice bottles
                    </li>
                    <li>CAPS AND DISPENSERS of plastic cartons of milk and juice</li>
                    <li>LIDS (WHICH BEND) of jars suitable for food and drink storage
                        They are collected separately from the caps, collected ONLY in Sofia and Kyustendil
                    </li>
                    <li>LIDS and/or BOXES of ice cream and other food products
                        IF THEY ARE NUMBER 2 or 5
                        They are collected separately from the caps, collected ONLY in Sofia and Kyustendil
                    </li>
                    <li> SPOONS (WHICH BEND) of infant formula</li>
                    <li>CAPS of bottles of laundry, washing and cosmetic products:
                        · Bottles of bath cosmetics
                        · Bottles of detergents
                        · Bottles of cleaning agents
                        · Bottles with detergents
                    </li>
                    <li>BOTTLES of washing, washing and cosmetic products:
                        · Bottles of bath cosmetics
                        · Bottles of detergents
                        · Bottles of cleaning agents
                        · Bottles with detergents
                    </li>
                    <li>IF THEY ARE NUMBER 2 or 5
                        They are collected separately from the caps, collected ONLY in Sofia and Kyustendil
                        It is important to remove dispensers with metal parts!
                        Metal parts damage the machines of the recyclers we work with!
                    </li>
                </ul>
                <ul>
                    <h2>What should we collect the caps in?</h2>
                    <li>You can collect the caps in whatever you see fit.
                        But during the campaigns, you would make it a lot easier for us if you carry your caps in thick
                        garbage bags or burlap sacks. What do we do with them after that? Our volunteers reuse them when
                        emptying the hearts of the Campaign.
                        The use of cartons and paper bags creates problems as they tear easily and the caps are
                        scattered in trucks and on job sites, especially when the weather is wet or raining. We also
                        generate a lot of recyclable trash that we usually have nowhere to dispose of.
                        Sending caps in thin plastic bags and bags also complicates the process, as they tear easily and
                        the caps are scattered in trucks and on job sites.
                        Most of you think that the easiest way to convey the caps is in large bottles. This is not a
                        problem in most cases, but a large number of recyclers want clean raw material, which
                        necessitates the cutting of bottles by campaign volunteers and pouring the caps into big bags.
                        The problems that arise when the caps are collected in large bottles are:
                        · during cutting, the caps are scattered on the work areas
                        · a huge amount of plastic is collected, which we currently do not collect (except in Sofia and
                        Plovdiv)
                        · it is necessary to look for yellow bins for recycling
                        · additional volunteers are needed to cut
                        So we will be grateful if you make our work easier!
                    </li>
                </ul>
                <ul>
                    <h2>What do we not collect!</h2>
                    <li> We have written a lot about this topic, but every campaign has surprises. Sometimes people are
                        very creative and in their desire to help us make our work many times more difficult.
                        It is easiest to collect only what is described above.
                        Please do not collect together with the caps:
                        · metal caps
                        · batteries
                        · any small and large plastic objects
                        · dirty dishes from food
                        · needles and syringes
                        · food
                        · and other
                        This way you protect not only the machines of the recyclers, but also the health of the
                        volunteers. This allows us to do the important stuff (like collecting and loading the caps)
                        during the campaigns!
                    </li>
                </ul>
            </div>
        </div>
    </section>

{% endblock %}