{% extends 'base/base.html' %}

{% load static %}
{% load percentage %}

{% block main_content %}
    <!-- Carousel wrapper -->
    <div class="carousel-inner">
        <!-- Single item -->
        <div class="carousel-item active">
            <img src="https://images.unsplash.com/photo-1527788263495-3518a5c1c42d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1208&q=80"
                 class="d-block w-100"
                 alt="Sunset Over the City"/>
            <div class="carousel-caption d-none d-md-block">
                <h3 class="text-uppercase">Our work</h3>
                <p class="text-uppercase custom-title">Donation Campaigns</p>
            </div>
        </div>
    </div>
    <!-- Carousel wrapper -->

    <hr class="hr hr-blurry"/>

    <section class="mv-section">
        <div class="container">
            <div class="row">
                <div class="maintitle">
                    <h2 class="wow bounceInDown text-uppercase" data-wow-duration="1s"
                        data-wow-delay="0.1s"
                        style="visibility: visible; animation-duration: 1s; animation-delay: 0.1s; animation-name: bounceInDown;">
                        <span class="lighter">Let's create a world of <strong>hope</strong> and <strong>possibility together</strong>!</span>
                    </h2>
                    <hr class="hr hr-blurry"/>
                    <p class="lead">
                        At Club for Future, we are dedicated to making a positive impact on the lives of those in
                        need. Our donation campaigns are a testament to our commitment to supporting various causes
                        and initiatives that matter the most. Through these campaigns, we strive to bring about real
                        change and provide vital assistance to those who require it the most. Here, you will find a
                        diverse range of donation campaigns, each tailored to address specific needs and make a
                        meaningful difference. From supporting neonatal ambulances for our tiniest patients to
                        providing life-saving aid in remote mountainous regions, our campaigns cover a wide spectrum
                        of worthy causes. We firmly believe that collective efforts can lead to powerful outcomes.
                        As you explore our campaigns, we invite you to join hands with us in creating a brighter and
                        more sustainable future. Your contribution, big or small, can make an incredible impact and
                        enable us to continue our mission of serving communities in need. Together, we can be the
                        driving force behind positive change and lend a helping hand to those who need it most. Join
                        us on this inspiring journey as we strive to make the world a better place through
                        compassion, empathy, and generosity.
                    </p>
                </div>

                <div class="card-group">
                    {% for campaign in donation_campaigns %}
                        <div class="card">
                            <img class="card-img-top" src="{{ campaign.image }}" alt="{{ campaign.title }}">
                            <div class="card-body">
                                <a href="{% url 'donation-campaign-details' campaign.pk %}"><h4
                                        class="card-title text-uppercase">{{ campaign.title }}</h4></a>
                                <p class="card-text">{{ campaign.description }}</p>
                            </div>

                            <p>Amount Raised: {{ campaign.current_amount }} BGN</p>
                            <p>Fundraising Goal: {{ campaign.goal_amount }} BGN</p>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar"
                                     style="width: {{ campaign.current_amount|percentage_complete:campaign.goal_amount }}%;"
                                     aria-valuenow="{{ campaign.current_amount|percentage_complete:campaign.goal_amount }}"
                                     aria-valuemin="0" aria-valuemax="100"></div>
                            </div>

                            {% if campaign.active %}
                                {% if request.user.is_authenticated and user.user_type == 'SPONSOR' %}
                                    <a href="{% url 'donation' %}">
                                        <button>Donate Now</button>
                                    </a>
                                {% endif %}
                                <div class="card-footer" style="background-color: #8AD0C7">
                                    <small class="text-muted">Active</small>
                                </div>
                            {% elif not campaign.active %}
                                <div class="card-footer" style="background-color: #6c757d">
                                    <small class="text-muted">Succeeded</small>
                                </div>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>

                {#                    <div class="accordion custom-accordion">#}
                {#                        {% for faq in caps_for_future_faq %}#}
                {#                            <div class="accordion-item">#}
                {#                                <h4 class="accordion-header" id="heading{{ faq.pk }}c">#}
                {#                                    <button class="accordion-button" type="button" data-bs-toggle="collapse"#}
                {#                                            data-bs-target="#collapse{{ faq.pk }}c" aria-expanded="false"#}
                {#                                            aria-controls="collapse{{ faq.pk }}c">#}
                {#                                        {{ faq.question }}#}
                {#                                    </button>#}
                {#                                </h4>#}
                {#                                <div id="collapse{{ faq.pk }}c" class="accordion-collapse collapse"#}
                {#                                     aria-labelledby="heading{{ faq.pk }}c"#}
                {#                                     data-bs-parent="#accordionExample{{ faq.pk }}c">#}
                {#                                    <div class="accordion-body lead">#}
                {#                                        {{ faq.answer }}#}
                {#                                    </div>#}
                {#                                    {% if faq.important %}#}
                {#                                        <p><strong>***Important:</strong>{{ faq.important }}</p>#}
                {#                                    {% endif %}#}
                {#                                </div>#}
                {#                            </div>#}
                {#                        {% endfor %}#}
                {#                    </div>#}
                <div class="maintitle">
                    <p class="lead">
                        Thank you for considering to be a part of our donation campaigns. Your support means the
                        world to us and those we seek to assist.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <hr class="hr hr-blurry"/>

{% endblock %}