{% extends 'base/base.html' %}
{% load percentage %}
{% block main_content %}

    {% include 'base/carousel.html' with carousel_img=campaign.logo carousel_alt=campaign.title %}

    <section class="mv-section">
        <div class="container">
            <div class="row">
                <div class="maintitle">
                    <h2 class="wow bounceInDown text-uppercase" data-wow-duration="1s"
                        data-wow-delay="0.1s"
                        style="visibility: visible; animation-duration: 1s; animation-delay: 0.1s; animation-name: bounceInDown;">
                        <strong>{{ campaign.title }}</strong></h2>
                    <hr class="hr hr-blurry"/>
                </div>
                <div class="lead">
                    <p>Description: {{ campaign.description }}</p>
                    <p>Motivation: {{ campaign.purpose }}</p>

                    <p>Amount Raised: {{ campaign.current_amount }} BGN</p>
                    <p>Fundraising Goal: {{ campaign.goal_amount }} BGN</p>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar"
                             style="width: {{ campaign.current_amount|percentage_complete:campaign.goal_amount }}%;"
                             aria-valuenow="{{ campaign.current_amount|percentage_complete:campaign.goal_amount }}"
                             aria-valuemin="0" aria-valuemax="100"></div>
                    </div>

                    {% if request.user.is_authenticated and user.user_type == 'SPONSOR' %}
                        {% if not campaign.succeeded %}
                            <a href="{% url 'sponsor-donation' campaign.id %}" class="participate-btn">
                                <button>Donate</button>
                            </a>
                        {% else %}
                            <button type="button" disabled>This campaign has expired and been succeeded!</button>
                        {% endif %}
                    {% else %}
                        <a href="{% url 'login' %}" class="participate-btn">
                            <button>Login for donation</button>
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}




