{% extends 'base/base.html' %}

{% block main_content %}
    <section id="mission" class="section custom-section">
        <div class="container">
            <div class="row">
                <h2><span class="lighter">WE ARE LOOKING FOR WAYS TO MAKE/span> THE SYSTEM WORK</h2>
                <p class="lead text-justify">
                    TWe work for free and voluntarily, driven by the ambition to improve, if not the world, then at
                    least the country in which we live.
                    We have mandatory campaigns throughout the year, and the rest we come up with according to the needs
                    of society.
                    We are trying to fill those basic needs that have long been unmet in our society.
                </p>
            </div>
        </div>
    </section>

    <div class="row">
        <p>
            Our work is directed in several aspects
        </p>
        <ul class="goal-pillars">
            <li>
                <a href="/initiatives/climate">
                    <img alt=""
                         src="https://images.unsplash.com/photo-1560306580-9e204fe45f3e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80">
                    <h4>Help for the little ones</h4>
                    <p>The idea was born precisely to be useful to the little ones</p>
                </a>
            </li>

            <li>
                <a href="/initiatives/food">
                    <img alt=""
                         src="https://images.unsplash.com/photo-1470071459604-3b5ec3a7fe05?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1574&q=80">
                    <h4>Nature</h4>
                    <p>Double net food availability; freeze its footprint</p>
                </a>
            </li>

            <li class="goal-pillar goal-pillar--forests" data-track-event="Homepages Show|Goal Pillars Click|Forests"
                style="min-height: 243px;">
                <a href="/initiatives/forests">
                    <img alt=""
                         src="https://images.unsplash.com/photo-1621624558935-7795c77d2194?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1631&q=80">
                    <h4>Help for the elderly in the mountains</h4>
                    <p>Conserve the world's most important forests</p>
                </a>
            </li>

            <li class="goal-pillar goal-pillar--fresh-water"
                data-track-event="Homepages Show|Goal Pillars Click|Fresh Water" style="min-height: 243px;">
                <a href="/initiatives/freshwater">
                    <img alt=""
                         src="https://images.unsplash.com/photo-1622115297822-a3798fdbe1f6?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1074&q=80">
                    <h4>Training children in first aid</h4>
                    <p>Secure water for people and nature</p>
                </a>
            </li>

            <li class="goal-pillar goal-pillar--oceans" data-track-event="Homepages Show|Goal Pillars Click|Oceans"
                style="min-height: 243px;">
                <a href="/initiatives/oceans">
                    <img alt=""
                         src="https://images.unsplash.com/photo-1611284446314-60a58ac0deb9?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80">
                    <h4>Separate waste collection</h4>
                    <p>Safeguard healthy oceans and marine livelihoods</p>
                </a>
            </li>

            <li class="goal-pillar goal-pillar--wildlife" data-track-event="Homepages Show|Goal Pillars Click|Wildlife"
                style="min-height: 243px;">
                <a href="/initiatives/wildlife-conservation">
                    <img alt=""
                         src="/assets/content/goal-pillar-wildlife-d01129a1821cd69727fefe773724a92e6b57b5c1fc627fcef5f37442cd2b98d5.jpg">
                    <h4>Wildlife</h4>
                    <p>Conserve threatened wildlife and wild places to sustain life on Earth</p>
                </a></li>
        </ul>
    </div>

{% endblock %}



