{% extends 'base/base.html' %}
{% block main_content %}
    <section class="first-section">
        <div class="container">
            <p>
                In 2022, when the idea of clubs for the future was born, 10 clubs were founded in different cities in
                Bulgaria.
                Each club works mainly on the territory of its city, but we stay connected with the other clubs and help
                each
                other all the time.
            </p>
            <h3>Clubs in different parts of the country:</h3>
        </div>
    </section>
{% endblock %}

